@media screen and (min-width:768px) {
   
    
    .sub-icon{
        color: #0f1b33;
        font-size: 30px;
        padding-bottom: 15px;
    }
    .main-nav-btn:hover>.sub-menu{
        display:none ;
    }
    .main-nav-btn:nth-child(2)>.sub-menu{
        display:flex ;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: rgba(97, 134, 164, 0.85);
        /* padding: 10px; */
        width: 100%;
        justify-content: center;
    }
    .sub-menu-btn a{
        display: flex;
        flex-direction: column;
        align-items:center;
        padding: 10px 35px;
        font-size: 14px;
        font-weight: 350;
    }
    .main-nav-btn>.sub-menu a{
        color: #0f1b33;
    }
    .main-nav-btn:hover >.sub-menu a:hover{
        color: #e4f2f7;
    }
    ul>.scuba-btn >a{
        color:rgb(255, 255, 255);
        font-weight: 500;
        font-size: 15px;
    }
}



.uts-header{
    position: sticky;
    top: 0;
    z-index: 10;
}
.cover-bg{
    position: relative;
    width: 100%;
    height: 560px;
    padding-top: 79px;
    padding-top: 1px;
    background-color:#a0dcf6; 

}

.cover-bg-main{
    width: 50%;

    margin-left:8%;
}
.cover-bg-pic{
    width: 50%;
}
.circle-pic{
    max-width: 450px;
    min-width: 400px;
    position: absolute;
    right: 8%;
    top: 18%;
    z-index: 1;
}
.diving-woman-pic{
    max-width: 300px;
    min-width: 250px;
    position: absolute;
    right: 16%;
    top:20%;
    z-index: 1;
}
.cover-title{
    font-size:100px;
    color: #0f1b33;
    font-weight: 900;
    margin-top: 110px;

    margin-bottom: 15px;
}

.cover-text{
    display: flex;
}
.cover-text p{
    font-size:100px;
    color: #0f1b33;
    font-weight: 900;
 
    
}
.dive-btn-switch{
    margin-top: 50px;
}
.dive-btn{
    color: #edf1fe;
    font-size: 20px;
    font-weight: 500;
    padding: 18px 20px;
    background-color: #298bc8;
    border-radius: 40px 0px 0px 40px;
    cursor: pointer;
    box-shadow: 1px 2px 5px rgba(1, 33, 59, 0.55);
}
.dive-btn+.dive-btn{
    border-radius: 0px 40px 40px 0px;
    box-shadow: 3px 2px 3px rgba(1, 33, 59, 0.35);
    border-left: 3.5px solid rgb(255, 255, 255,.3);
}

.cover-search-bar{

    border: 0px;


    background-color: transparent;
}
.cover-search-bar:focus ,button:focus{
    outline: none;
    
}
.cover-search{
    padding: 10px 40px;
    width: 400px;
    height: 40px;
    background-color: #fff;
    display: flex;
    align-items: center;
    margin-top: 50px;

    border-radius: 50px;
    
}
.cover-search>button{
 
    border: 0px;
    margin-left: 240px;

    width: 100px;
    height: 40px;
    border-radius: 50px;
    background-color: transparent;
    cursor: pointer;
    
}
.cover-search>button>i{
    color: #0f1b33;
    font-size: 25px;

}
.cover-text p:nth-child(2){
    opacity: 0;

    color: #ffc619;
 
}
.cover-text p:nth-child(3){
    opacity: 0;
    color: #006eff;
    margin-left:-200px ;
   
}
#buddy:checked+.cover-bg label:nth-child(1){
    background: rgb(9, 54, 82);
    
}

#buddy:checked+.cover-bg{
    background-color:#006eff;
    transition: background-color .5s;
}

#buddy:checked+.cover-bg>.cover-bg-main>.cover-text p:nth-child(2){
    opacity: 1;
    transition:  opacity .5s;
}

#buddy:checked+.cover-bg>.cover-bg-main>.cover-text p:nth-child(3){
    opacity: 0;
    transition:  opacity .5s;
}
#coach:checked+#buddy+.cover-bg> label:nth-child(2){
    background: rgb(9, 54, 82);
}


#coach:checked+#buddy+.cover-bg {
    background-color:#ffc619;
    transition: background-color .5s;
}
#coach:checked+#buddy+.cover-bg>.cover-bg-main>.cover-text p:nth-child(3){
    opacity: 1;
    transition:  opacity .5s;
}
#coach:checked+#buddy+.cover-bg>.cover-bg-main>.cover-text p:nth-child(2){
    opacity: 0;
    transition:  opacity .5s;
}
.head-main-cover>input{
    display: none;
}

.cover-text p:nth-child(1){
    font-size: 70px;
    color: #fff;
    margin-top: 8px;
    font-weight: 700;
}

.circle-bg{
    width: 200px;
    height: 200px;
    background-color: rgb(255, 255, 255,.33);
    position: absolute;
    top: 15%;
    right: 1%;
    border-radius: 250px;
}

.circle-bg-1{
    width: 280px;
    height: 280px;
    background-color: rgb(255, 255, 255,.23);
    position: absolute;
    top: 50%;
    right: 30%;
    border-radius: 250px;
}


.circle-bg-2{
    width: 120px;
    height: 120px;
    background-color: rgb(255, 255, 255,.3);
    position: absolute;
    top: 2%;
    right: 20%;
    border-radius: 250px;
}
.circle-bg-3{
    width: 180px;
    height: 180px;
    background-color: rgb(255, 255, 255,.2);
    position: absolute;
    top: 0%;
    right: 35%;
    border-radius: 250px;
}

.circle-bg-4{
    width: 150px;
    height: 150px;
    background-color: rgb(255, 255, 255,.26);
    position: absolute;
    top: 68%;
    right: 5%;
    border-radius: 250px;
}
footer{

    margin-top: 0px;
    padding-top: 180px;
    padding-bottom:20px ;
    background-size: cover;
}

.buddy-body {
    width: 1200px;
    margin: auto;
    display: flex;
    gap: 16px;
    /* height:300px ; */
}
.body-item-main{
    width: 60%;
}

.body-item-2{
    width: 15%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.body-item-1{
    width: 20%;
}
.dive-body-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;

}
.coach-body {
    width: 1200px;
    margin: auto;
    display: flex;
    gap: 16px;
    align-items: center;
    height: 620px;
}
.dive-coach-item{
    margin:20px auto;
    max-width: 900px;
    height: 300px
    
}
.coach-item-2{
    width: 900px;
}

.dive-coach-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}
.main-dive-body{
    max-width: 1200px;
    margin: auto;
}
.dive-coach-item-1{
    max-width: 255px; 
    height: 616px;
}
.dive-coach-item-1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.dive-body-item h3{
    color: #f1f7f9;
    font-size: 30px;
    font-weight: 600;
    position: relative;
    text-shadow: 1px 1px 3px rgba(1, 33, 59, 0.35);
    top: -23%;
    left: 5%;
    border-bottom: 1px solid rgb(255, 255, 255);
    width: 120px;
    padding-bottom: 15px;
}

.dive-body-item p{
    color: #f1f7f9;
    font-size: 15px;
    font-weight: 400;
    position: relative;
    text-shadow: 1px 1px 3px rgba(1, 33, 59, 0.35);
    top: -20%;
    left: 5%;
   
}
.body-item-main h3{
    width: 220px;
}
.body-item-2>.dive-body-item>h3{
    top: -35%;
    font-size: 22px;
    width: 88px;
    padding-bottom: 10px;
}
.body-item-2>.dive-body-item>p{
    top: -32%;
    text-shadow: 1px 1px 3px rgba(1, 33, 59, 0.8);
    width: 88px;
}
.main-dive-body h2{
    font-size: 30px;
    margin-top: 70px;
    margin-bottom: 20px;
    color: #0f1b33;
    font-weight: 600;
    margin-left: 20px;
}
.dive-coach-item h3{
    color: #f1f7f9;
    font-size: 30px;
    font-weight: 600;
    position: relative;
    text-shadow: 1px 1px 3px rgba(1, 33, 59, 0.35);
    top: -38%;
    left: 5%;
    border-bottom: 1px solid rgb(255, 255, 255);
    width: 120px;
    padding-bottom: 15px;
}
.dive-coach-item p{
    color: #f1f7f9;
    font-size: 15px;
    font-weight: 400;
    position: relative;
    text-shadow: 1px 1px 3px rgba(1, 33, 59, 0.35);
    top: -33%;
    left: 5%;
   
}

.dive-coach-item-1 h3{
    color: #f1f7f9;
    font-size: 30px;
    font-weight: 600;
    position: relative;
    text-shadow: 1px 1px 3px rgba(1, 33, 59, 0.35);
    top: -20%;
    left: 5%;
    border-bottom: 1px solid rgb(255, 255, 255);
    width: 180px;
    padding-bottom: 15px;

}
.dive-coach-item-1 p{
    color: #f1f7f9;
    font-size: 15px;
    font-weight: 400;
    position: relative;
    text-shadow: 1px 1px 3px rgba(1, 33, 59, 0.35);
    top: -17%;
    left: 5%;

}
.dive-body-item,.dive-coach-item,.dive-coach-item-1 {
    cursor: pointer;
}
.dive-pic{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
   max-width: 1200px;
   gap: 16px;
   margin: 10px;

}

.dive-pic img{
    border-radius: 8px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.dive-body{
    justify-content: center;

}
.dive-video{
    width: 1200px;
    gap: 16px;
    display: flex;

    justify-content: center;
}
.dive-video iframe{
    object-fit: cover;
    border-radius: 8px;
}

.free-main-body{
    background-image: url(pic/personal-bg.png);
    background-size: cover;
    margin-top: -70px;
}
.title-h2{
    padding-top: 80px;

}

.main-dive-body>.title-h2-3,.main-dive-body>.title-h2-4{
    color: #edf1fe;
}