
 .uts-header{
    position: sticky;
    top: 0;
    z-index: 20;
 }
 .pool-nav{
    max-width: 80%;
    height: 100%;
    margin: auto;
   
 }
 .pool-main-head-title {
 width: 100%;
 /* margin: auto; */
 
 /* margin-top: -50px; */
}
.pool-main-head h2{
    width:fit-content ;
    font-size: 9vmin;
    line-height: 40vh;
    color:#fff;
    font-weight: 800;
    /* margin-top: -150px; */
    height: fit-content;
    margin: auto;
  
}

.pool-nav>h2{
    font-size: 30px;
    width: 180px;
    margin-left:160px ;
    color: #0f1b33;
    margin-bottom: 50px;
    margin-top: 120px;
}


.pool-main-cotent{
    position: relative;

    margin: auto;
}
.pool-main-head{
    background-position: center;
    
    height: 40vh;
    background-image: url(pic/pool-head.jpg);
    background-size: cover;


}
.pool-page-main{
    width:100%;
    height: 100%;
    background-image: url(pool-page-bg-mbjpg.jpg);
    background-size:cover;

}

.pool-ul{
    width: 1200px;
    height: 100%;
    position: relative;


}
.sec-main-nav>ul>.main-nav-btn{
    display: none;
}
.sec-main-nav>ul>.main-nav-btn ul{
    display: flex;
}
.sec-main-nav>ul>li:nth-child(1){
    display: block;
}
.main-nav-btn:nth-child(1) >.sub-menu .sub-menu-btn:nth-child(5) a{
    color: #e4f2f7;
   }
.main-nav-btn:nth-child(1) >.sub-menu .sub-menu-btn:nth-child(5) a>i{
    color: #e4f2f7;
}

ul>.main-nav-btn:nth-child(1)>a{
        color: #e4f2f7;
        font-weight: 400;
        font-size: 15px;
}

.personal-main-title{

    margin-top:0px ;

}
 @media screen and (min-width:576px) {
    .pool-main-head{
        background-position: center;
        
        height: 70vh;
        background-image: url(pic/pool-head.jpg);
        background-size: cover;
    
    
    }
   
 }

@media screen and (min-width:768px) {
    /* li:nth-child(3)>.sub-menu a{
        color: #fff;
    } */

    .pool-page-main{

        background-image: url(pool-page-bg.jpg);

    
    }
    
    .sub-icon{
        color: #0f1b33;
        font-size: 30px;
        padding-bottom: 15px;
    }
    .main-nav-btn:hover>.sub-menu{
        display:none ;
    }
    .main-nav-btn:nth-child(1)>.sub-menu{
        display:flex ;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: rgba(97, 134, 164, 0.85);
        /* padding: 10px; */
        width: 100%;
        justify-content: center;
        z-index: 10;
    }
    .sub-menu-btn a{
        display: flex;
        flex-direction: column;
        align-items:center;
        padding: 10px 35px;
        font-size: 14px;
        font-weight: 350;
       
    }
    .main-nav-btn>.sub-menu a{
        color: #0f1b33;
    }
    /* .main-nav-btn>a:hover >.sub-menu a:hover{
        color: #e4f2f7;
    } */
    ul>.freedivg-btn >a{
        color:rgb(255, 255, 255);
        font-weight: 500;
        font-size: 15px;
    }

    
    .freedivg-btn>ul>li:nth-child(5) a{
        color: #e4f2f7;
        font-weight: 400;
    }
    .freedivg-btn>ul>li:nth-child(5) a>i{
        color: #e4f2f7;
        
    }
    .personal-main-title{

        margin-top:79px ;

    }
    

}


