@media screen and (min-width:768px) {
   
    
    .sub-icon{
        color: #0f1b33;
        font-size: 30px;
        padding-bottom: 15px;
    }
    .main-nav-btn:hover>.sub-menu{
        display:none ;
    }
    .main-nav-btn:nth-child(4)>.sub-menu{
        display:flex ;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: rgba(97, 134, 164, 0.85);
        /* padding: 10px; */
        width: 100%;
        justify-content: center;
    }
    .sub-menu-btn a{
        display: flex;
        flex-direction: column;
        align-items:center;
        padding: 10px 35px;
        font-size: 14px;
        font-weight: 350;
    }
    .main-nav-btn>.sub-menu a{
        color: #0f1b33;
    }
    .main-nav-btn:hover >.sub-menu a:hover{
        color: #e4f2f7;
    }
    ul>.rent-btn >a{
        color:rgb(255, 255, 255);
        font-weight: 500;
        font-size: 15px;
    }
}


.uts-header{
    position: sticky;
    top: 0;
    z-index: 10;
  

}
.product-main-body{
    position: relative;

    background-image: url(pic/product-bg.png);
    background-size: cover ;
    vertical-align: middle;
   
}
.product-main-head{
    position: relative;
    top: 79px;
    margin-bottom: 180px;
}
.product-main-title{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 200px;
    height: 50px;
}
.product-head-title h2{
    color: #e4f2f7;
    font-size: 60px;
    font-weight: 600;
    text-align: center;
    padding: 50px 0px;

}
.product-main-pic{
    display: flex;
    width: 1200px;
    margin: auto;
    align-items: center;
}
.product-item{
    width:200px;
    margin: 20px;
    position: relative;

}
.product-item-in-1{
    height: 50%;
}
.product-item-in-2{
    height: 40%;

}
.product-item-main{
    height: 100%;
    overflow: hidden;
    border-radius: 8px;

    
}
.product-item img{
    width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
    box-shadow: 1px 2px 5px rgba(1, 33, 59, 0.55);

}
.product-item-main img{
    width: 1200px;
    object-position: right 500px top 0px;
   
    box-shadow: 1px 2px 5px rgba(1, 33, 59, 0.55);

   
}
.product-item a{
    text-decoration: none;
    color: #e4f2f7;
  
}
.product-item a>img{
    margin-bottom: 10px;
}

.product-main-content{
    position: relative;
    top: 0;
    margin: auto;
}
.product-group{
    width: 1200px;
   
    margin: auto;
    margin-bottom: 100px;
}
.product-group h2{
    color: #0f1b33;
    font-size: 30px;
    font-weight: 600;
    margin-top: 100px;
    margin-bottom: 30px;

}
.product-item-list{
    width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: auto;
}
.product-multi-mix{
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 1200px;
}



.product-sale{
    width: 22%;
    height: 22%;
}
.product-sale img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 1px 2px 5px rgba(1, 33, 59, 0.55);
}
.product-multi-item-list{
    width: 1200px;

}
.product-multi-item{
    width: 29%;
    height: 29%;
}
.multi-item-pic-4{
    width: 100%;
    height: 100%;
    display: grid; 
    grid-template-columns: repeat(2,1fr);
    grid-template-rows:repeat(2,1fr);

    gap: 5px;
    border-radius:8px ;
}

.multi-item-pic-4 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius:8px ;
    box-shadow: 1px 2px 5px rgba(1, 33, 59, 0.55);
}
.multi-item-pic-3{
    display: grid;
    grid-template-columns: repeat(2,1fr);

    gap: 5px;
    width: 100%;
    height: 100%;
}
.multi-item-2-pic{
    display: grid;
    grid-template-rows: repeat(2,1fr);
    gap: 5px;
    width: 100%;
    height: 100%;
}
.multi-item-pic-3 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius:8px ;
    box-shadow: 1px 2px 5px rgba(1, 33, 59, 0.55);
   
}
.multi-item-pic-3-mix{
    display: grid;
    grid-template-rows: repeat(2,1fr);
    gap: 5px;
    width: 100%;
    height: 100%;

}
.multi-item-2-mix{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 5px;
    width: 100%;
    height: 100%;
    
}

.multi-item-pic-3-mix img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius:8px ;
    box-shadow: 1px 2px 5px rgba(1, 33, 59, 0.55);
   
}
.product-item-info p,.product-sale-info p{
    font-size: 20px;
    font-weight: 600;
    color: #0f1b33;

    margin:15px ;
    margin-bottom: 5px;
}
.product-item-info p+p,.product-sale-info p+p{
    font-size: 14px;
    font-weight: 500;
    color: #0f1b33;;

    margin-top:7px ;
}
.product-main-content .product-group:nth-child(2)>h2{
    margin-top: 100px;
}
.product-multi-item,.product-sale,.product-ad-group{
    cursor: pointer;
}
.product-ad-group{
    display: flex;
    width: 1200px;
    margin: auto;
}
.product-ad-pic{
    width: 70%;
    margin-bottom: 50px;
}
.product-ad-pic img{
    width: 100%;
    height: 100%;
    border-radius: 8px 0px 0px 8px;
    vertical-align: middle;
    box-shadow: 1px 2px 5px rgba(1, 33, 59, 0.55);
}
.product-ad-text {
    width: 30%;
    height: 307px;
    background-color: #0f1b33;
    color:#e4f2f7;
    border-radius: 0px 8px 8px 0px;
    
}
.product-ad-text h2{
    font-size: 40px;
    font-weight: 600;
    color:#e4f2f7;
    margin-bottom: 10px;
    text-align: center;
   
    

}
.product-ad-text p{
    font-size: 15px;
    font-weight: 300;
    color:#e4f2f7;
    text-align: center;
    

}
.text-box{
    width: 160px;
    height: 65px;
    margin:auto;
    margin-top: 110px;
    
}


.product-ad-pic-2{
  order: 1;
  border-radius: 0px 8px 8px 0px;
}
.product-ad-pic-2 img{
    box-shadow: 1px 2px 5px rgba(1, 33, 59, 0.55);
    border-radius: 0px 8px 8px 0px;
  }
.product-ad-text-2{

    border-radius: 8px 0px 0px 8px;
  }
  footer{
    margin-top:80px;

  }