/* .flex{
  display: flex;
  width: 350px;
  justify-content: space-between;
  margin-left: 20px;
  flex-direction: column;
} */
.swiper {
  max-width: 280px;

}
.G-mySwiper{
      max-width: 350px;
  }

.swiper-wrapper{
  margin-bottom: 20px;
}    
/* @media screen and (max-width:575px) {
  .swiper {
  max-width: 240px;
}
} */
/* @media screen and (min-width:576px) {
  .swiper {
      max-width: 280px;
  }
  .G-mySwiper{
      max-width: 350px;
  }
  
  .flex{

  width: 576px;
  flex-direction: row;
  margin-left: 0px;
  margin: auto;
  }
}
@media screen and (min-width:768px) {
  .swiper {
  max-width: 320px;
}
.flex{
  width: 768px;
  flex-direction: row;
  margin-left: 0px;
  margin: auto;
}
}
@media screen and (min-width:992px) {
  .swiper {
  max-width: 450px;
  flex-direction: row;
}
.flex{
  /* display: flex; */

/* 
@media screen and (min-width:1200px) {
  .swiper {
  max-width: 550px;
}
} */


.swiper-slide {
  align-items: center;
  justify-content: center;
  display: flex;
}

