@media screen and (min-width:768px) {
    /* li:nth-child(3)>.sub-menu a{
        color: #fff;
    } */
    
    .sub-icon{
        color: #0f1b33;
        font-size: 30px;
        padding-bottom: 15px;
    }
    .main-nav-btn:hover>.sub-menu{
        display:none ;
    }
    .main-nav-btn:nth-child(1)>.sub-menu{
        display:flex ;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: rgba(97, 134, 164, 0.85);
        /* padding: 10px; */
        width: 100%;
        justify-content: center;
        z-index: 10;
    }
    .sub-menu-btn a{
        display: flex;
        flex-direction: column;
        align-items:center;
        padding: 10px 35px;
        font-size: 14px;
        font-weight: 350;
       
    }
    .main-nav-btn>.sub-menu a{
        color: #0f1b33;
    }
    /* .main-nav-btn>a:hover >.sub-menu a:hover{
        color: #e4f2f7;
    } */
    ul>.freedivg-btn >a{
        color:rgb(255, 255, 255);
        font-weight: 500;
        font-size: 15px;
    }

    
    .freedivg-btn>ul>li:nth-child(1) a{
        color: #e4f2f7;
        font-weight: 400;
    }
    .freedivg-btn>ul>li:nth-child(1) a>i{
        color: #e4f2f7;
        
    }
    .personal-main-title{

        margin-top:79px ;

    }
 


}
 @media screen and (max-width:767px) {
    .personal-main-title{

        margin-top:0px ;

    }
     
 }
 header{
    position: sticky;
    top: 0;
    z-index: 20;

}
.buddy-main-body{
    background-image: url(pic/coach-page-bg.png);
    background-size:cover ;
}
.buddy-content{
    display: flex;
    width: 1200px;
    height: 100%;
    position: relative;
    margin: auto;
    top: 90px;
}
.activity-info{
    width: 60%;
    max-height: 100%;
    margin: 10px;

}
.buddy-type{
    width: 40%;
    height:100% ;
    margin: 10px;
    

}
.type-pic{
    width: 436px;
    height: 237px;
    overflow: hidden;
    border-radius: 8px;
    margin-bottom: 20px;
}

.buddy-activity img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 20px;
}
.buddy-type img{
    width: 100%;
    max-height: 237px;
    object-fit: cover;
    border-radius: 10px;
   
    
}

.activity-info a,.buddy-type a{
    text-decoration: none;
}
.buddy-activity{
    position: relative;

}
.buddy-activity h2{
    position: absolute;
    left: 20px;
    top: 20px;
    color: #e4f2f7;
    font-size: 60px;
    font-weight: 600;
}
.buddy-activity p{
   color: #e4f2f7;
   font-size: 35px;
   font-weight: 600;
   position: absolute;
   bottom: 100px;
   left: 30px;
   letter-spacing: 2px;

}
.activity-1 :nth-child(3){
  border-bottom: 1.5px solid white;
    padding-bottom: 10px;
 }
 .activity-2 :nth-child(2){
    border-bottom: 1.5px solid white;
      padding-bottom: 10px;
   }




.buddy-activity p+p{
    font-size: 20px;
    bottom: 70px;
    left: 30px;
    font-weight: 400;
   
 }
 .activity-tag{
    color: #e4f2f7;
    background-color: #f00901;
    border-radius: 0px 0px 8px 8px;
    top: 0;
    right: 20px;
    padding: 20px 10px;
    position: absolute;
 }
 .buddy-type-item{
    position: relative;
    margin: auto;
 }

 .buddy-type-item p{
    color: #e4f2f7;
    font-size: 20px;
    font-weight: 400;
    display: block;
    width: 80px;
    height: 20px;
    position: absolute;
    left: -27px;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    /* top: -20px; */
    background-color: rgba(12, 39, 60, 0.55);
    padding:108.5px 178px ;
    border-radius: 8px;
    opacity: 1;
    z-index: 2;
 }

.text-algin{
    width: 426px;
    height: 237px
}
 .buddy-type h2{
    font-size: 30px;
    font-weight: 600;
    color: #0f1b33;
    margin-bottom: 20px;
 }


 .buddy-type-item:hover p{
    opacity: 0;
    transition:  opacity .5s;
 }
 .buddy-type-item:hover img{
    transform:scale(1.4);
    transition:  transform .5s;

 }


 /* ---------------------------------- */
 footer{
    margin-top: 200px;
    padding-bottom: 25px;
}



.filter-ul>.filter-li>label{

    text-align: center;
    line-height: 40px;
    padding: 10px 30px;

    background-color: rgb(240, 238, 238,.3);
    border-radius: 5px;

}


.filter-ul>li:nth-child(3)>label{

    text-align: center;
    line-height: 40px;
    padding: 10px 30px;

    background-color: rgb(240, 238, 238,.3);
    border-radius: 5px;

}
.filter-ul>li:nth-child(5)>label{

    text-align: center;
    line-height: 40px;
    padding: 10px 30px;

    background-color: rgb(240, 238, 238,.3);
    border-radius: 5px;

}
.filter-nav{
    margin: auto;
    width: 100%;
    margin-bottom: 80px;
    margin-top: 120px;
}
.nav-bar{
    margin: auto;
    width: 100%;
}



.filter-ul>li:nth-child(7)>label{

    text-align: center;
    line-height: 40px;
    padding: 10px 30px;
    
    background-color: rgb(240, 238, 238,.3);
    border-radius: 5px;

}


.filter-menu{
    z-index: 50;
}



/* -----------buddy----------- */

.diving-card{
    margin: 10px;
    width: 250px;
    height: 380px;
    box-shadow:2px 3px 7px 1px rgba(49, 49, 49, 0.3);
    border-radius: 8px;
    display: flex;
    position: relative;
}

.card-title{
    width: 60px;
    height:100%;
    background-color:#0F1B33;
    border-radius: 8px 0px 0px 8px; 
    position: absolute;
    top: 0px;
    left: 0px;
    letter-spacing:2px;
    z-index: 1;
}

.Scubadiving-card .card-title{
    background-color:#0079e0;
    word-spacing:-4px;
}


.card-title p{
   color: #fff;
   font-size: 45px;
   margin-top:10px;
   margin-left: 10px;
   font-weight: 600;
   writing-mode:vertical-rl;
   font-family: 'Quicksilver', sans-serif;

}

.card_pic {
    width: 250px;
    height:100%;
  
}
.card_pic img{
    border-radius: 8px;
    width: 100%;
    height: 100%;
    object-fit: cover;
   
}

.owencard img{
    object-position: bottom 0px right -30px;
}
.diving-card-img{
    object-fit: fill; 
}

.card-info{
    position: relative;
}
.card-info:hover>.card-profile{
    opacity: 1;

    transition:opacity .5s;

}

.card-profile{

    display: flex;
    flex-direction: column;
    width: 250px;
    height: 100%;
    border-radius: 8px;
    background-color: rgb(15, 27, 51,0.5);
    justify-content: flex-end;
    align-items: flex-end;
    position: absolute;
    top: 0;
    opacity: 0;
    transition: opacity .5s;

}
.card-license-tag{
    width: 55px;
    color: #fff;
    font-size: 14px;
    padding: 5px;
    font-weight: 300;
    text-align: center;
    background-color:#154770;
    border: .8px solid  #A0DFF9;
    margin-right:10px ;
    margin-top: 10px;
    letter-spacing:1.5px;
}
.personal-tag{
    display: flex;
  
}
.personal-tag p{
    font-size:15px ;
    color: #fff;
    padding: 10px 10px 80px;
    display: flex;
}   
.personal-tag p>i{
    padding:0 5px ;
}

.name{

    text-shadow: 1px 2px 2px  rgb(20, 20, 20,.5);
    color: #fff;
    font-size: 50px;
    font-weight:600;
    padding:10px 10px 0px;
}
.coach{
    position: absolute;
    right: 0;
    top: 320px;
    padding: 0 10px 3px;
    font-weight:bold;
    font-size: 30px;
    background-color: #fff;
    color:#0F1B33;
}

.divingcards{
    width: 10px;
    display: flex;
}








/* -----------buddy----------- */
/* -------------footer----------- */
.footer-nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-nav{
    padding: 20px;
    max-width: 1200px;
    position: relative;
    z-index: 1;
    margin: auto;
}
.footer-item>li:hover a{
    color: #f6fafc;
    border-bottom: 1px solid #f6fafc;;
}
.footer-item a{
    text-decoration: none;
    color:#b1cbd5;
    font-size: 12px;
    font-weight: 300;
    display: inline-block;
    padding: 17px 0px 3px;

}
.footer-item h2{
    font-size: 15px;
    font-weight: 400;
    color:#deeef5;
    display: inline-block;
    padding: 10px 0px;
}
.footer-item{
    padding: 0px 40px;
    text-align: center;
}

.copyright{
    padding-top: 100px;
    text-align: center;
    width: 500px;
    font-size: 12px;
    color: #ffffff;
    line-height: 20px;
    /* z-index: ; */
    position: relative;
    margin: auto;
    opacity: .3;
}


/* -------------footer----------- */


/*--------------- index--------------- */
.uts-index{
    position: relative;


}
.uts-header{
    position: sticky;
    top: 0;
    z-index: 5;
}

/* ---------------title--------- */
.uts-title{
    /* background-image: url(main-content.jpg); */
    /* position: relative; */
    background-size: cover;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.arrow-icon{
    font-size:50px;
    color: rgb(255, 255, 255,.9);
}
.uts-title img{
    margin-top: 100px;
    margin-bottom: 60px;
    width: 20%;

}
.uts-title>i{
    margin-top: 0px;
    margin-bottom: 200px;
}
/* ---------------@title--------- */
/* -------------content------------ */
/* -------------bubble------------ */
.uts-content{
    position: relative;
    max-width: 100%;
 

    display: flex;
    flex-direction: column;
    align-items: center;
}
.animation-content{
    position: absolute;
    width: 100%;
    height: 80%;
    text-align: center;
    /* background-color: #fff; */
   
}


.animation-content>img{
    position: sticky;
    top:140px;
    max-width: 7%;
    min-width: 5%;
    margin: auto;
}


/* ---------------freediving----------- */





.card-select{
    position: absolute;
    left:-3%;
    top:47.5%;
}
.card-select+.card-select{
    left:99%;
}
.freecard-part{
    position: relative;
    margin-bottom:0px;
}
.freecard-part:last-child{
    position: relative;
}



.free-card-group{
    display: flex;
    justify-content: space-between;
    gap: 70px;

}
.free-part-side{
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
}
