
html{
    scroll-behavior: smooth;
    
    transition: transform 0.6s cubic-bezier(0.83, 0, 0.17, 1);
    
}
.uts-title{
    min-height: 100vh;
    min-width: 100%;
    overflow: hidden;
    background-image: url(main-content.jpg);
    background-size: cover;
    margin: auto;


    
}
.cover-main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    /* width: 354px; */
    min-height: 100vh;
    margin-top: -5%;
    
}
.cover-logo{
    width: 354px;
    height: 291px;

    display: flex;
    justify-content: center;

}
.cover-logo img{
    width: 75%;
    height: 75%;

}
.cover-main a>i{
    font-size: 50px;
    color: #fff;
    text-shadow: 0px 1.5px 4px rgb(0,0,0,.15);

}



.uts-content{
    position: relative;
    max-width: 100%;
    background-image: url(index-bg-rwd.jpg);
    background-size: cover;
    background-position:center ;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom:1px solid  #0f1b33 ;
    
    /* padding-bottom: 150px; */
}
.animation-content{
    position: absolute;
    width: 30%;
    height: 7280px;
    text-align: center;
    opacity: 1;
    right: 0;
    /* background-color: #fff; */
   
}


.animation-content>img{
    position: sticky;
    top:140px;
    width: 80px;
    margin: auto;
}
.bubble-pic-content>h2{
    font-family:Oswald ;
    font-size: 130px;
    font-weight: 700;
    /* transform: scaleX(120%); */
    max-width: 1200px;
    text-align: left;
    word-break: normal;
    padding-top: 320px;
    color: rgba(255, 255, 255, 0.25);
    letter-spacing:1px;
    word-spacing: 20px; 
    /* -webkit-text-stroke:1.5px  rgba(255, 255, 255, 0.3); */
    /* line-height: 180px; */
}

.bubble-pic-main{
    margin-top: 20px;

}

.bubble-group{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}
.bubble-group-part{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
    margin-top: 50px;
}



.freediving-content{
    margin-right: auto;
    margin-top: 100px;
    border-top:2.54px dotted rgb(255, 255, 255,.5);
    width: 100%;
    padding-top:50px ;
}
.scubadiving-content{
    margin-right: auto;
    margin-top: 100px;
    border-top:2.54px dotted rgb(255, 255, 255,.5);
    width: 100%;
    padding-top:50px ;
    margin-bottom: 200px;
}


/* -------------text-area-------------- */

.free-intro,.scuba-intro{
    margin-left: 15px;

}

.free-intro-title h2,.scuba-intro-title h2{
    font-family:oswald ;
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 20px;
    margin-top: auto;
    color: #fff;
}
.free-intro-title h2:last-child,.scuba-intro-title h2:last-child{
    font-size: 16px;
    font-weight: 600;

}
.free-intro-title,.scuba-intro-title  {
    margin-bottom: 0px;
}

.free-intro-text p,.scuba-intro-text p{
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 1px;
    width: 100%;
    line-height: 30px;
    color: #fff;

}

.free-intro-text-bg,.scuba-intro-text-bg{
    display: none;
}

.G-cards{
    
    margin-top: 50px;
}
.G-mySwiper{

    margin-bottom: 50px;

}
.G-swiper-slide{
    margin: 30px 0px;
    margin-bottom: 50px;
}
.swiper-slide{
    margin-bottom: 20px;
}
.G-wrapper{
    margin-bottom: 30px;
}




.swiper {
    max-width: 280px;
    margin-left: 0;
    
}
.uts-footer{
    width: 100%;
}
@media screen and (min-width:485px) {
   
    .animation-content{
      height: 6850px;
    }
    
 }

@media screen and (max-width:576px) {
    .cover-logo img{
        width: 65%;
        height: 65%;
    
    }
    .cover-main>i{
        font-size: 50px;

    }

    .cover-main{
        margin-top: -10%;
    }
 }
@media screen and (min-width:576px) {
    .bubble-group{
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
    
    }

    .animation-content{
      margin: auto;
      width: 40%;
      left: 35%;
      height: 6780px;
    }
    
    
    .animation-content>img{
        position: sticky;
        top:140px;
        margin: auto;
    }

 }

@media screen and (min-width:769px) {
    .freediving-content{
        margin: auto;
        margin-top: 100px;
    }
    .scubadiving-content{
        margin: auto;
        margin-top: 100px;
    }
    .free-intro-main,.scuba-intro-main{
        position: absolute;
    }
    .free-intro-title,.scuba-intro-title {
        display: flex;
        margin-bottom: 20px;
    }
    
    .free-intro-title h2,.scuba-intro-title h2{
        font-size: 24px;

    }
    .free-intro-title h2:last-child,.scuba-intro-title h2:last-child{
        font-size: 24px;
        margin-left: 40px;
       
    }
    .free-intro-text p, .scuba-intro-text p{
        font-size: 32px;
        line-height: 46px;
    }
    .free-intro-text p:nth-child(1),  .free-intro-text p:nth-child(2),.scuba-intro-text p:nth-child(1),  .scuba-intro-text p:nth-child(2){
        display: inline;
    }
    .free-intro,.scuba-intro{
        margin-right:0;

    }
    .free-intro-text-bg,.scuba-intro-text-bg {
        display: block;
        
    }
    .free-intro-text-bg p,.scuba-intro-text-bg p{
        font-size: 130px;
        font-weight: 700;
        color: rgb(255, 255, 255,.2);
        font-family:oswald ;
        text-align: end;
        transform:scaleY(120%);
        line-height: 150px;

    }

    .G-cards{
        margin: auto;
        display: flex;
        justify-content: space-between;
        width: 700px;
        margin-top: 50px;
        margin-bottom: 50px;

    }
    .G-mySwiper{
        margin: auto;
    }
   .buddycard-flex{
        margin: auto;
        display: flex;
        width: 700px;

    }

    .freecard-part, .scubacard-part {
        max-width: 250px;
        margin: auto;
    }
    .freecard-part>.swiper-wrapper>.swiper-slide, .scubacard-part>.swiper-wrapper>.swiper-slide {
        justify-content: center;
        display: flex;
      
    }
    .main-nav-btn:hover >.sub-menu a{
        color: #0f1b33;
    }    
    .animation-content{
        height: 88%;
        left: 0;
    }
  
}
 /* @media screen and (min-width:993px) {
    .G-mySwiper{
        max-width: 300px;
    }
    .G-cards{
        width:800px;
    }
 } */


 @media screen and (min-width:1024px) {
  
    .free-intro, .scuba-intro{
        width: 996px;
        margin: auto;

    }
    .G-cards{
        width:996px;
    }


    .G-mySwiper{
        max-width: 450px;
        margin: auto;
    }
   .buddycard-flex{
      
        width: 1005px;
        justify-content: space-between;

    }

    .freecard-part, .scubacard-part {
        max-width: 420px;
        margin: auto;
    }

    .freecard-part>.swiper-wrapper>.swiper-slide, .scubacard-part>.swiper-wrapper>.swiper-slide {
        justify-content: center;
        display: flex;
      
    }

    .bubble-group{
        width: 1000px;
        gap: 50px;
    }
    .bubble-pic-content>h2{
        text-align: center;
    }
    .bubble-group-part{
        width: 400px;
    }

}

@media screen and (min-width:1200px) {
  
    .free-intro,.scuba-intro{
        width: 1024px;
        margin: auto;

    }
    .buddycard-flex{
        
        width: 1200px;
       

    }
    .freecard-part, .scubacard-part {
        max-width: 420px;
        margin: auto;
    }

    .G-cards{
       
        width: 1200px;

    }
    .bubble-group{
        width: 1200px;
        
    }
    .bubble-group-part{
        width: 550px;
    }

    
 } 



/* -------------text-area-------------- */


