.group-card-a{
    text-decoration: none;
}
.group-card{
    margin: auto;
    width: 256px;
    box-shadow:2px 3px 7px 1px rgba(49, 49, 49, 0.3);
    border-radius: 8px;
    background: #fff;
    position: relative;
}
.group-card img{
    width: 100%;
    height: 192px;
    object-fit: cover;
    border-radius: 8px 8px 0px 0px;
    margin-bottom:0px ;
    vertical-align: bottom;
}

.group-card-info{
    display: flex;
    justify-content: space-around;
    height: 64px;
}
.group-card-title,.group-card-license,.group-card-people{
    padding:3.2px 3.2px;
    display: flex;
    /* margin: 0px 20px; */
    justify-content: space-evenly;
    flex-direction: column;
}

.group-card-info p{
    font-size: 14px;
    color: rgb(131, 131, 131);
}
.group-card-title{

    width: 83.2px;
}
.schedule {
    /* border:1px solid #194d73; */
    /* width: 100px;
    height: 4px; */
    background-color: #A0DFF9;
    border-radius: 5px;
    width: 64px;
    height: 4px;
}
.schedule-line{
    width: 51.2px;
    height: 4px;
    background-color: #154770;
    border-radius: 5px;
}
.group-card-title h3{
    font-size: 14.08px;
    font-weight: 450;
    color: black;
}
.group-card-title p{
    font-size: 12px;
    color: rgb(49,49, 49);
}
.group-card-people p:last-child{
    
    font-size: 32px;
    font-weight:500 ;
    padding-top: 0px;
    color: rgb(49,49, 49);
}
.group-card-people p:last-child span{
    font-size: 12px;
    margin-left: -5px ;
}
.license-tag{
    width:fit-content;
    background-color:#154770;
    color: #fff;
    padding: 5px;
    font-size: 10px;
    margin: 3px 0px;
}
.license-tag{
    width:fit-content;
    padding: 1.5px 4px;
    font-size: 12px;
    margin: 0px 0px;
}

.license-tag p{
    width:fit-content;
    padding: 0px 4px;
    font-size: 12px;
    margin: 0px 0px;
}


.group-hover{
    display: none;
}


@media screen and (min-width:1024px) {
    .group-card{
        margin: auto;
        width: 330.67px;
    }
    .group-card img{
        height: 248px;
    }
    .group-hover{
        height: 248px;
        font-size: 14px;
        top: 0;
    }

    .group-hover p{
        padding: 5px;
        width: 82.7px;
        /* border:1px solid #fff; */
        height: 24.8px;
        line-height: 24.8px;
        border-radius: 5px;
    }
    
    .group-card-info{
        height: 82.7px;
    }
    .group-card-title,.group-card-license,.group-card-people{
        padding:4.13px 4.13px;
    }
    
    .group-card-info p{
        font-size: 14px;
    }
    .group-card-title{
        width: 107.47px;
    }
    .schedule {
        width: 82.7px;
        height: 4px;
    }
    .schedule-line{
        width: 66.13px;
        height: 4px;
        border-radius: 5px;
    }
    .group-card-title h3{
        font-size: 18.186px;
    }
    .group-card-title p{
        font-size: 12px;
    }
    .group-card-people p:last-child{
        font-size: 41.3px;
        font-weight:500 ;
    }
    .group-card-people p:last-child span{
        font-size: 14px;
        margin-left: -10px ;
    }
    .license-tag{
        width:fit-content;
        padding: 4.13px;
        font-size: 12px;
        margin: 0px 0px;
    }
    .group-card-license p{
      padding-top:1.5px ;
    }
}

@media screen and (min-width:1200px) {
    .group-card{
        margin: auto;
        width: 400px;
    }
    .group-card img{
        height: 300px;
    }
    .group-hover{
        height: 300px;
        font-size: 14px;
        top: 0;
    }

    .group-hover p{
        padding: 5.5px;
        width: 100px;
        /* border:1px solid #fff; */
        height: 30px;
        line-height: 30px;
        border-radius: 8px;
    }
    
    .group-card-info{
        height: 100px;
    }
    .group-card-title,.group-card-license,.group-card-people{
        padding:5px 5px;
    }
    
    .group-card-info p{
        font-size: 14px;
    }
    .group-card-title{
        width: 130px;
    }
    .schedule {
        width: 100px;
        height: 4px;
    }
    .schedule-line{
        width: 80px;
        height: 4px;
        border-radius: 5px;
    }
    .group-card-title h3{
        font-size: 22px;
    }
    .group-card-title p{
        font-size: 12px;
    }
    .group-card-people p:last-child{
        font-size: 50px;
        font-weight:500 ;
    }
    .group-card-people p:last-child span{
        font-size: 14px;
        margin-left: -10px ;
    }
    .license-tag{
        width:fit-content;
        padding: 5px;
        font-size: 12px;
        margin: 0px 0px;
    }
    .group-hover p{
        margin: auto;
        padding: 5px;
        width: 100px;
        /* line-height: 300px; */
        border:1px solid #fff;
        height: 30px;
        border-radius: 10px;
    }
  
    .group-hover{
        display: block;
        width: 100%;
        height: 300px;
        border-radius: 8px 8px 0px 0px;
        background: rgba(0, 13, 35, 0.5);
        position: absolute;
        color: #fff;
        text-align: center;
        font-size: 15px;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        opacity: 0;
        transition:  opacity 0.5s;
                line-height: 300px;

    }
    .group-card>.group-hover:hover{
        opacity:1 ;
        transition:  opacity 0.5s;
    }
  

}


