.uts-header{
    position: sticky;
    top: 0;
    z-index: 20;
 }

 .buddy-main-body{
    background-image: url(pic/coach-page-bg.png);
    background-size:cover ;
}
.buddy-content{
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    margin: auto;
    top: 90px;
}
.activity-info{
    /* width: 60%; */
    width: 80%;
    /* max-height: 100%; */
    /* margin: 10px; */
    margin: auto;

}
.buddy-type{
    /* width: 40%; */
    width: 80%;
    /* height:10vmin ; */
    /* margin: 10px; */
    margin: auto;

}
.type-pic{
    width: 100%;
    height: 30vmin;
    /* overflow: hidden; */
    /* border-radius: 8px; */
    margin-bottom: 20px;
    /* box-shadow: 2px 2px 5px rgba(1, 33, 59, 0.55); */
    /* display: none; */
}

.buddy-activity img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 1px 2px 5px rgba(1, 33, 59, 0.55);
}
.buddy-type img{
    width: 100%;
    border-radius: 8px;
    height: 100%;
    object-fit: cover;
    box-shadow: 2px 2px 5px rgba(1, 33, 59, 0.55);
    vertical-align: middle;
    /* object-position: center; */
    
}

.activity-info a,.buddy-type a{
    text-decoration: none;
}
.buddy-activity{
    position: relative;
    margin-top: -50px;
    margin-bottom: 30px;

}

.activity-2{
    margin-top: 10px;
}
   
.buddy-activity h2{
    position: absolute;
    left: 5%;
    top: 20px;
    color: #e4f2f7;
    font-size: 40px;
    font-weight: 600;
}

.activity-1 :nth-child(3){
  border-bottom: 1.5px solid white;
    padding-bottom: 10px;
 }
 .activity-2 :nth-child(2){
    border-bottom: 1.5px solid white;
      padding-bottom: 10px;
   }

.buddy-activity p{
    color: #e4f2f7;
    font-size: 30px;
    font-weight: 600;
    position: absolute;
    bottom: 60px;
    left: 5%;
    letter-spacing: 1px;
 }
 


.buddy-activity p+p{
    font-size: 15px;
    bottom: 40px;
    font-weight: 400;
 }


 .activity-tag{
    color: #e4f2f7;
    background-color: #f00901;
    border-radius: 0px 0px 8px 8px;
    top: 0;
    right: 20px;
    padding: 20px 10px;
    position: absolute;
 }
 .buddy-type-item{
    position: relative;
    margin: auto;
 }

 .buddy-type-item p{
    color: #e4f2f7;
    font-size: 20px;
    font-weight: 600;
    display: block;
    /* width: 80px; */
    /* height: 20px; */
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    padding: 20px;
    /* top: -20px; */
    /* background-color: rgba(12, 39, 60, 0.55); */
    /* padding:108.5px 178px ; */
    border-radius: 8px;
    opacity: 1;
    z-index: 2;
    letter-spacing: 1px;
 }


 .buddy-type h2{
    font-size: 30px;
    font-weight: 600;
    color: #0f1b33;
    margin-bottom: 20px;
 }



.filter-ul>.filter-li>label{

    text-align: center;
    line-height: 40px;
    padding: 10px 30px;

    background-color: rgb(240, 238, 238,.3);
    border-radius: 5px;

}

.nav-bar{
    width: 80vmin;
    box-shadow: 1px 2px 5px rgba(1, 33, 59, 0.55);

}
.filter-nav{
   margin: 50px 0;
}




.sec-main-nav>ul>.main-nav-btn{
    display: none;
}
.sec-main-nav>ul>.main-nav-btn ul{
    display: flex;
}
.sec-main-nav>ul>li:nth-child(2){
    display: block;
}
/* .sec-main-nav>ul>li:nth-child(1){
        display: block;
}  */


.main-nav-btn:nth-child(2) >.sub-menu .sub-menu-btn:nth-child(1) a{
    color: #e4f2f7;
   }
.main-nav-btn:nth-child(2) >.sub-menu .sub-menu-btn:nth-child(1) a>i{
    color: #e4f2f7;
}

ul>.main-nav-btn:nth-child(2)>a{
        color: #e4f2f7;
        font-weight: 400;
        font-size: 15px;
}
.uts-content{
    width: 100%;
}
.container{
    max-width: 90%;
    margin: auto;
}

.diving-card{
    margin: 15px auto;
   
}

.change-page{
    margin: 50px auto;
}

.change-page>ol{
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: flex-end;
}
.change-page>ol a{
   text-decoration: none;
   font-size: 20px;
   padding-bottom: .3px;
   font-weight: 400;
   color: rgb(28, 156, 211);
   border-bottom: 1px solid transparent;
}
.change-page>ol>li:first-child a{
        font-weight: 500;
        color: #fff;
        font-size: 25px;

        padding-bottom: .3px;
        border-bottom: 1px solid #fff;
 }
 .change-page>ol>li:hover a{
    border-bottom: 1px solid #fff;

    transition:border-bottom .5s ;
 }
 .filter-nav{
    padding-top: 80px;
}


@media screen and (min-width:400px) {
    .coach-class>img{
        object-fit: cover;
    }
    
 }
@media screen and (min-width:768px) {
    .main-nav-btn:nth-child(2)>.sub-menu{
        display:flex ;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: rgba(97, 134, 164);
        /* padding: 10px; */
        width: 100%;
        justify-content: center;
        
    }
    .sec-main-nav>ul>li:nth-child(2){
        display: none;
    }
    .nav-bar{
        width: 80%;
        max-width:80%
    }
    .filter-ul{
        justify-content: space-evenly;
    }
    .filter-ul>.filter-li:nth-child(1){
        width: 0;
        flex-grow: 3;
    }
    .filter-ul>.filter-li:nth-child(3){
        width: 0;
        flex-grow: 3;

    }
    .filter-ul>.filter-li:nth-child(5){
        width: 0;
        flex-grow: 3;
    }
    .filter-ul>.filter-li:nth-child(7){
        width: 0;
        flex-grow: 3;
    }
    .filter-ul>.filter-li:nth-child(8){
        width: 0;
        flex-grow: 4;
    }
    .filter-ul>.filter-li:nth-child(9){
        width: 0;
        flex-grow: 1;
    }
    .nav-bar>.filter-ul>.filter-li>label {
        padding: 5px 3vmin;
    }
    .filter-li>button {
        padding: 0px 1.5vmin;
        margin: auto;
    }

    .buddy-content{
        display: flex;

        max-width: 1200px;
        height: 100%;
        position: relative;
        margin: auto;
        top: 90px;
        flex-direction: row;
    }
    .activity-info{
        width: 55%;
        margin-top: 35px;
    }
    .buddy-type{

        width: 30%;
        margin: 0 auto;
        margin-top:35px ;
    }
    .activity-2{
        height: 25vmin;
    }
    .activity-1{
        height: 45vmin;
        margin-bottom:20px ;
    }


    .buddy-type-item p{
        color: #e4f2f7;
        font-size: 20px;
        font-weight: 600;
        display: block;
        padding: 15px;
        border-radius: 8px;
        opacity: 1;
        z-index: 2;
     }
    
     .type-pic{
        width: 100%;
        height: 20vmin;
      
        margin-bottom: 20px;
        
    }
    .filter-nav{
        margin-top: 130px;
    }

    .buddy-activity h2{
        font-size: 45px;
    }


    .buddy-activity p{
        font-size: 25px;
        bottom: 60px;
     }
     
    
    
    .buddy-activity p+p{
        font-size: 15px;
        bottom: 40px;
     }


     .activity-2 p{
        bottom: 50px;
     }
     .activity-2 p+p{
        bottom: 25px;
     }
     .buddy-activity{
        position: relative;
        margin-top: 0px;
        margin-bottom: 30px;
    
    }
  
    
}
    
@media screen and (min-width:1024px){
    .buddy-activity h2{
        font-size: 50px;
    }


    .buddy-activity p{
        font-size: 30px;
        bottom: 60px;
     }
     .type-pic{

      
        margin-bottom: 25px;
        
    }
    
    
    .buddy-activity p+p{
        font-size: 18px;
        bottom: 40px;
     }


     .activity-2 p{
        bottom: 50px;
     }
     .activity-2 p+p{
        bottom: 25px;
     }
    
 

}

    
@media screen and (min-width:1200px){
    .buddy-main-body{
        background-image: url(coach-page-bg.jpg);
        background-size:cover ;
    }
    
    .container{
        width: 90%;
        max-width:1200px
    }
    
    .nav-bar{
        width: 90%;
        max-width:1200px
    }
    .nav-bar>.filter-ul>.filter-li>label {
        padding: 7px 35px;
    }

}
 

