.pool-nav{
    position: relative;
    top: 0;
    width: 85%;
    margin: auto;
}
.pool-ul{
    display: flex;

    margin: auto;
    position: relative;
    height: 100%;
}
.location-switch{
    width: 90%;
    background-color: rgb(39, 170, 245);
    margin: auto;

}
.location-switch-select{
    width: 50%;
    margin: auto;
    padding: 10px 0px;

}
.location-switch-select select{
    width: 100%;
    height: fit-content;
    
    /* margin: auto; */
}
.location-switch-tab{
    display: none;
}
.location h3{
    font-size: 2.5vmin;
    padding: 10px 25px;
    border-radius: 8px 8px 0px 0px;
    background-color: rgb(39, 170, 245);
    scale: 100%;
}

.location:first-child h3{
    font-size: 2.5vmin;
    padding: 10px 25px;
    border-radius: 8px 8px 0px 0px;
    background-color: #0f1b33;
    color: #fff;


}




.sub-item{
    margin: auto;
    /* margin-top: 20px; */
    position: relative;
    top: 20px;
    width: 85%;
    height: 50%;


}

.sub-s,.sub-c{
    width: 100%;
    position: absolute;
    top: 0;


}
.sub-item img{
    position: relative;
    width: 100%;
    height: 250px;
    object-fit: cover;
    margin: auto;
}
.c-list,.s-list{
    opacity: 0;
}


.sub-item+.sub-item{
    margin-top: 20px;
}




.sub-item h3{
    position: absolute;
    top: 3%;
    left: 3%;
    color: #fff;
    font-size: 6vmin;
    font-weight: 600;
    text-shadow: 2px 2px 5px rgba(27, 30, 33, 0.8);
}
.sub-content{
    background-color: #fff;
    width:fit-content;
    height: fit-content;
    position: absolute;
    z-index: 1;
    border-radius: 5px;
    bottom: 10px;
    left: 10px;
}
.sub-text p{
    margin: 10px;
    font-size: 1.5vmin;
    color: rgb(4, 38, 63);
    font-weight: 400;
}

.sub-text p+p{

    top: 75%;
    margin-top:5px ;
}
.sub-text p>span{
    font-weight: 600;
    font-size: 2vmin;
    margin-right: 10px;

}






.sub-item button {
    appearance: none;
    background-color: #2ea44f;
    border: 0px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .2) 1px 1px 1px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 14px;
    font-weight: 600;

    padding: 6px 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    height: fit-content;
    margin: auto;
    margin-right: 10px;
  }
  
  .sub-item button:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
  }
  
  .sub-item button:hover {
    background-color: #2c974b;
  }
  
  .col-12 button:focus {
    box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
    outline: none;
  }
  
  .sub-item button:disabled {
    background-color: #94d3a2;
    border-color: rgba(27, 31, 35, .1);
    color: rgba(255, 255, 255, .8);
    cursor: default;
  }
  
  .sub-item button:active {
    background-color: #298e46;
    box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
  }
  .sub-item button>i{
    color: #fff;
  }

.sub-content{
    display: flex;
}

.location{
    cursor: pointer;
}


.sub-list{
    background-color: rgba(0, 76, 114, 0.8);
    /* padding: 5px 40px 50px 40px; */
    border-radius: 0px 0px 8px 8px;
    width: 90%;
    margin: auto;
    position: relative;
    height: 100%;
    padding-bottom: 50px;


}
.sub-item>iframe{
    display: none;



}


 @media screen and (min-width:768px) {
    .location-switch-tab{
        display: flex;
        gap: 10px;


    }

    .sub-list{
       
        border-radius: 0px 8px 8px 8px;
       
    
    
    }
    .location-switch-select{
        display: none;
    
    }
    .location-switch{

        background-color: transparent;
    
    }

    .sub-item iframe{
        position: absolute;
        right: 15px;
        top: 15px;
        display: block;

    }
    .sub-item h3{
        font-size: 4.5vmin;
    }
    .pool-nav{


        max-width: 1200px;

    }

    
 }