


.diving-card{
    margin: 10px;
    width: fit-content;
    box-shadow:2px 3px 3px 2.2px rgba(49, 49, 49, 0.2);
    border-radius: 8px;
    display: flex;
    position: relative;
}

.Scubadiving-card .card-title{
    background-color:#0079e0;
    word-spacing:-4px;
}


.card_pic{
    width: 30vmin;
    height: 30vmin;
}

.card_pic img{
    border-radius: 8px;
    width: 100%;
    height: 100%;
    object-fit: cover
   
}


.card-info{
    position: relative;
}

.card-profile{

    display: flex;
    width: 100%;
    height: 25%;
    border-radius: 0px  0px 8px 8px;
    background-color: #fff;
    justify-content: space-around;
    align-items: flex-end;
    position: absolute;
    bottom: 0;
    opacity: 1;
    transition: opacity .5s;
    overflow: hidden;

}
/* .card-info:hover>.card-profile{
    opacity: 1;
    height: 25%;
    transition:height .2s, opacity .5s ;

} */





.card-license{
    display: flex;
    margin: auto;
}
.card-license-tag{
    width: fit-content;
    color: #fff;
    font-size: 2.2vmin;
    padding: 5px;
    font-weight: 350;
    text-align: center;
    background-color:#154770;
    letter-spacing:1px;
}
.card-license-tag:first-child{
    margin-right: 10px;
}
.personal-tag{
    display: none;
    gap: 5px;
    /* margin-bottom: 8px; */
}
.personal-tag p{
    font-size:1.3vmin ;
    color: #0F1B33;
    /* padding: 10px 10px 80px; */
    display: flex;
}   
.personal-tag p>i{
    padding:0 .3vmin ;
    color: #0F1B33;
}
.personal-info{
    margin: auto;
}
.name{
    color: #0F1B33;
    font-size: 4vmin;
    font-weight:600;
    margin: auto;
    margin-bottom: 5px;
}



 @media screen and (min-width:768px) {
    .card-profile{

        display: flex;
        width: 100%;
        height: 0%;
        border-radius: 0px  0px 8px 8px;
        background-color: #fff;
        justify-content: space-around;
        align-items: flex-end;
        position: absolute;
        bottom: 0;
        opacity: 0;
        transition: opacity .5s;
        overflow: hidden;
    
    }
    .card-info:hover>.card-profile{
        opacity: 1;
        height: 25%;
        transition:height .2s, opacity .5s ;
    
    }
    .personal-tag{
        display: flex;
        gap: 5px;
    }
    
 }

/* @media screen and (max-width:575px) {
    .diving-card{
        width: 115.2px;
        height: 179.55px;
       
    }
    .card-title{
        height: 179.55px;
        width: 28.8px;
    }
    .card_pic {
        width: 115.2px;
        height: 179.55px;
       
      
    }
    .card-profile{
        width: 115.2px;
        height: 179.55px;
       
    }
    .card-title p{
        font-size: 21.6px;
        margin-top:4.8px;
        margin-left:4.8px;

     }



     .card-license-tag{
        width:fit-content;
        font-size: 6.72px;
        padding: 2.4px;
        margin-right:4.8px;
        margin-top: 4.8px;
        letter-spacing:1px;
    }

    .personal-tag p{
        font-size: 6.72px;
        padding: 4.8px 4.8px 38.4px .5px;
    }   
    .personal-tag p>i{
        padding:0 2.4px ;
    }
    
    .name{
        font-size: 20px;
        font-weight:600;
        padding:4.8px 4.8px 0px;
    }
    .coach{
        right: 0;
        top: 150.6px;
        padding: 1.44px 4.8px 1.44px;
        font-size: 14.4px;
    }


}

@media screen and (min-width:576px) {
    .diving-card{
        width: 115.2px;
        height: 179.55px;
       
    }
    .card-title{
        height: 179.55px;
        width: 28.8px;
    }
    .card_pic {
        width: 115.2px;
        height: 179.55px;
       
      
    }
    .card-profile{
        width: 115.2px;
        height: 179.55px;
       
    }
    .card-title p{
        font-size: 21.6px;
        margin-top:4.8px;
        margin-left:4.8px;

     }

     .card-license-tag{
        width:fit-content; 
        font-size: 12px;
        padding: 2.4px;
        margin-right:4.8px;
        margin-top: 4.8px;
        letter-spacing:1px;
    }

    .personal-tag p{
        font-size: 12px;
        padding: 4.8px 4.8px 38.4px .5px;
    }   
    .personal-tag p>i{
        padding:0 2.4px ;
    }
    
    .name{
        font-size: 20px;
        font-weight:600;
        padding:4.8px 4.8px 0px;
    }
    .coach{
        right: 0;
        top: 150.6px;
        padding: 1.44px 4.8px 1.44px;
        font-size: 14.4px;
    }

} */

/* @media screen and (min-width:576px) {
    .diving-card{
        width: 153.6px;
        height: 243.2px;
       
    }
    .card-title{
        height: 243.2px;
        width: 38.4px;
    }
    .card_pic {
        width: 153.6px;
        height: 243.2px;
      
    }
    .card-profile{
        width: 153.6px;
        height: 243.2px;
    }
    .card-title p{
        font-size: 28.8px;
        margin-top:6.4px;
        margin-left: 6.4px;

     }


     .card-license-tag{
        width:fit-content;
        font-size: 12px;
        padding: 3.2px;
        margin-right:6.4px;
        margin-top: 6.4px;
        letter-spacing:1px;
    }

    .personal-tag p{
        font-size: 12px;
        padding: 6.4px 6.4px 51.2px;
    }   
    .personal-tag p>i{
        padding:0 3.2px ;
    }
    
    .name{
        font-size: 32px;
        font-weight:600;
        padding:6.4px 6.4px 0px;
    }
    .coach{
        right: 0;
        top: 204.8px;
        padding: 1.92px 6.4px 1.92px;
        font-size: 19.2px;
    }




} */
/* @media screen and (max-width:768px) {
    .diving-card{
        width: 240px;
        height: 380px;
       
    }
    .card-title{
        height: 380px;
        width: 60px;
    }
    .card_pic {
        width: 240px;
        height: 380px;
       
      
    }
    .card-profile{
        width: 240px;
        height: 380px;
    }


    .card-title p{
        font-size: 45px;
        margin-top:10px;
        margin-left: 10px;

     }


     .card-license-tag{
        width:fit-content;
        font-size: 14px;
        padding: 5px;
        margin-right:10px ;
        margin-top: 10px;
        letter-spacing:1.5px;
    }

    .personal-tag p{
        font-size:14px ;
        padding: 10px 10px 80px;
    }   
    .personal-tag p>i{
        padding:0 5px ;
    }
    
    .name{
        font-size: 50px;
        font-weight:600;
        padding:10px 10px 0px;
    }
    .coach{
        right: 0;
        top: 320px;
        padding: 3px 10px 3px;
        font-size: 30px;
    }

}

@media screen and (min-width:769px) {
    .diving-card{
        width: 240px;
        height: 380px;
       
    }
    .card-title{
        height: 380px;
        width: 60px;
    }
    .card_pic {
        width: 240px;
        height: 380px;
       
      
    }
    .card-profile{
        width: 240px;
        height: 380px;
    }


    .card-title p{
        font-size: 45px;
        margin-top:10px;
        margin-left: 10px;

     }


     .card-license-tag{
        width:fit-content;
        font-size: 14px;
        padding: 5px;
        margin-right:10px ;
        margin-top: 10px;
        letter-spacing:1.5px;
    }

    .personal-tag p{
        font-size:14px ;
        padding: 10px 10px 80px;
    }   
    .personal-tag p>i{
        padding:0 5px ;
    }
    
    .name{
        font-size: 50px;
        font-weight:600;
        padding:10px 10px 0px;
    }
    .coach{
        right: 0;
        top: 320px;
        padding: 3px 10px 3px;
        font-size: 30px;
    }




}

@media screen and (min-width:1024px) {
    .diving-card{
        width: 198.4px;
        height: 314.13px;
       
    }
    .card-title{
        height: 314.13px;
        width: 49.6px;
    }
    .card_pic {
        width: 198.4px;
        height: 314.13px;
    }
    .card-profile{
        width: 198.4px;
        height: 314.13px;
    }
    .card-title p{
        font-size: 37.2px;
        margin-top:8.27px;
        margin-left: 8.27px;

     }

     .card-license-tag{
        width:fit-content;
        font-size: 14px;
        padding: 4.13px;
        margin-right:8.27px ;
        margin-top: 8.27px;

    }

    .personal-tag p{
        font-size: 14px;
        padding: 8.27px 8.27px  66.13px;
    }   
    .personal-tag p>i{
        padding:0 4.13px ;
    }
    
    .name{
        font-size: 41.33px;
        font-weight:600;
        padding:8.27px 8.27px 0px;
    }
    .coach{
        right: 0;
        top: 264.53px;
        padding: 2.48px  8.27px 2.48px;
        font-size: 24.8px;
    }
    .card-info:hover>.card-profile{
        opacity: 1;
    
        transition:opacity .5s;
    
    }
    




}

@media screen and (min-width:1200px) {
    .diving-card{
        width: 198.4px;
        height: 314.13px;
       
    }
    .card-title{
        height: 314.13px;
        width: 49.6px;
    }
    .card_pic {
        width: 198.4px;
        height: 314.13px;
    }
    .card-profile{
        width: 198.4px;
        height: 314.13px;
    }
    .card-title p{
        font-size: 37.2px;
        margin-top:8.27px;
        margin-left: 8.27px;

     }

     .card-license-tag{
        width:fit-content;
        font-size: 14px;
        padding: 4.13px;
        margin-right:8.27px ;
        margin-top: 8.27px;

    }

    .personal-tag p{
        font-size: 14px;
        padding: 8.27px 8.27px  66.13px;
    }   
    .personal-tag p>i{
        padding:0 4.13px ;
    }
    
    .name{
        font-size: 41.33px;
        font-weight:600;
        padding:8.27px 8.27px 0px;
    }
    .coach{
        right: 0;
        top: 264.53px;
        padding: 2.48px  8.27px 2.48px;
        font-size: 24.8px;
    }
    .card-info:hover>.card-profile{
        opacity: 1;
    
        transition:opacity .5s;
    
    }
    
} */

