.uts-header{
    position: sticky;
    top: 0;
    z-index: 20;

}
.coach-main-body{
    background-image: url(coach-page-bg-mb.jpg);
    background-size:cover ;
}

.class-info{
    max-width: 80%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
    margin: auto;
    padding-top:50px ;

}

.class-info>a{
   
    width: 100%;
    margin: auto;
    
}

.main-class>a>.coach-class{
   
    width: 78vmin;
    height: 100%;
    /* margin: 10px; */

    position: relative;

}
.class-sec>a>.coach-class{
    width:78vmin;
    position: relative;
    margin: 10px 0px;
    height: 180px;


}
/* .coach-class{
    display: flex;
    align-items: center;
} */


.class-sec{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    margin: 10px 0px;
    /* width: 900px; */
}
.class-info a{
   
    position: relative;
    /* width: 275px; */

    /* margin: 19.5px; */


}




.coach-class>img{

    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 8px;
    vertical-align: middle;
    box-shadow: 1px 2px 5px rgba(1, 33, 59, 0.55);
}

.coach-class h2{
    position: absolute;
    top: 10px;
    left: 20px;
    color: rgb(253, 255, 255);
    font-size: 8vmin;
    font-weight: 600;
    text-shadow: .5px .5px 10px rgb(44, 44, 44,.43);
   
}
.coach-class p{
    position: absolute;
    bottom: 40px;
    left: 20px;
    color: white;
    font-size: 18px;
    font-weight: 450;
    letter-spacing: .5px;
    padding-bottom: 8px;
    border-bottom:1.5px solid #fff ;
    line-height: 20px;
    text-shadow:1px 1.5px 3px rgba(1, 33, 59, 0.75);
}
.coach-class p+p{
    position: absolute;
    bottom: 10px;
    left: 20px;
    color: white;
    font-size: 15px;
    font-weight: 350;
    letter-spacing: .5px;
    /* padding-bottom: 8px; */
    border-bottom:0px solid #fff ;

}
.coach-class .class-tag{
    position: absolute;
    top: 0px;
    right: 3vmin;
    color: #fff;
    background-color: rgb(255, 89, 0);
    width: 18vmin;
    height: 6.5vmin;
    text-align: center;
    border-radius: 0px 0px 5px 5px;
    line-height: 6.5vmin;
    font-size: 2.3vmin;
    letter-spacing: .2px;
    font-weight: 400;
}
.class-sec>a:nth-child(1)>.coach-class>.class-tag{
    background-color: rgb(220, 19, 4);

}
a:nth-child(3)>.coach-class>.class-tag{
    background-color: rgb(220, 19, 4);

}
a:nth-child(2)>.coach-class>.class-tag{
    background-color: rgb(238, 208, 38);

}




.coach-rank{
    margin: auto;
    margin-top: 40px;
    width: 80vmin;

}

.hito-coach{
    margin-bottom: 50px;
    
}

.hito-coach,.new-coach{
    width: 100%;
    position: relative;
}

.hito-coach,.new-coach p{
    font-size: 1.5vmin;
    font-weight: 400;
    
}
.rank-list{
    background-color: rgb(17, 133, 235);
    width: 100%;
    margin: auto;
    position: relative;
    padding: 5px 0px;
    border-radius: 5px;
    box-shadow: 1px 2px 5px rgba(1, 33, 59, 0.55);
}
.rank-item{
    display: flex;
    height: 40px;
    width: 90%;
    background-color: rgb(255, 255, 255);
    margin: 10px auto;
    border-radius: 5px;
    padding: 0px ;
}

.new-coach>.rank-list{
    background-color: rgb(71, 160, 255);
}

.rank-title{
    position: absolute;
    top: -35px;
    left: 20px;
    font-size: 20px;
    display: flex;
    align-items: center;
    color: #08294a;

}
.new-coach>.rank-title{
    position: absolute;
}
.new-coach{
    margin-top: 80px;
}

.rank-title i{
    font-size: 20px;
    font-weight: 600;
    margin-right: 10px;
    color: #08294a;
}
.rank-pic{
    width: 15%;
}
.rank-text{
    width: 85%;
    justify-content: flex-start;
    text-align: left;
}
.rank-item>.rank-text>p{
    width: 0px;
    text-align: left;
}
.rank-item>.rank-text>p:nth-child(1){
    flex-grow: 2;
}
.rank-item>.rank-text>p:nth-child(2){
    flex-grow: 4;
}
.rank-item>.rank-text>p:nth-child(3){
    flex-grow: 3;
}



.uts-header{
    position: sticky;
    top: 0;
    z-index: 5;
}



.animation-content{
    position: absolute;
    width: 100%;
    height: 80%;
    text-align: center;
    /* background-color: #fff; */
   
}


.animation-content>img{
    position: sticky;
    top:140px;
    max-width: 7%;
    min-width: 5%;
    margin: auto;
}


.filter-ul>.filter-li>label{

    text-align: center;
    line-height: 40px;
    padding: 10px 30px;

    background-color: rgb(240, 238, 238,.3);
    border-radius: 5px;

}

.nav-bar{
    width: 80vmin;
    box-shadow: 1px 2px 5px rgba(1, 33, 59, 0.55);

}
.filter-nav{
   margin: 50px 0;
}




.sec-main-nav>ul>.main-nav-btn{
    display: none;
}
.sec-main-nav>ul>.main-nav-btn ul{
    display: flex;
}
.sec-main-nav>ul>li:nth-child(2){
    display: block;
}



.main-nav-btn:nth-child(2) >.sub-menu .sub-menu-btn:nth-child(2) a{
    color: #e4f2f7;
   }
.main-nav-btn:nth-child(2) >.sub-menu .sub-menu-btn:nth-child(2) a>i{
    color: #e4f2f7;
}

ul>.main-nav-btn:nth-child(2)>a{
        color: #e4f2f7;
        font-weight: 400;
        font-size: 15px;
}
.uts-content{
    width: 100%;
}
.container{
    max-width: 90%;
    margin: auto;
}

.diving-card{
    margin: 15px auto;
   
}

.change-page{
    margin: 50px auto;
}

.change-page>ol{
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: flex-end;
}
.change-page>ol a{
   text-decoration: none;
   font-size: 20px;
   padding-bottom: .3px;
   font-weight: 400;
   color: rgb(10, 168, 235);
   border-bottom: 1px solid transparent;
}
.change-page>ol>li:first-child a{
        font-weight: 500;
        color: #fff;
        font-size: 25px;

        padding-bottom: .3px;
        border-bottom: 1px solid #fff;
 }
 .change-page>ol>li:hover a{
    border-bottom: 1px solid #fff;

    transition:border-bottom .5s ;
 }
 


@media screen and (min-width:400px) {
    .coach-class>img{
        object-fit: cover;
    }
    
 }
@media screen and (min-width:768px) {
    .main-nav-btn:nth-child(2)>.sub-menu{
        display:flex ;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: rgba(97, 134, 164);
        /* padding: 10px; */
        width: 100%;
        justify-content: center;
        
    }
    .sec-main-nav>ul>li:nth-child(1){
        display: none;
    }
    .coach-rank{
        display: flex;
        width: 80%;
        margin: auto;
        gap: 20px;
        /* justify-content: space-around; */
    }
    .hito-coach{
        margin: auto;
    }
    .new-coach{
        margin: auto;
    }
    .class-info{
        max-width: 100%;
        height: 100%;
        flex-wrap: wrap;
        position: relative;
        justify-content: flex-end;
        margin: auto;
    
    }
    .main-class{
        width: 80%;
        margin: auto;
    }
    .main-class>a>.coach-class{
        width:100%;
        /* margin:0px; */
        height: 300px;
        margin:50px 0px 10px;
    }
    .class-sec{
        width: 80%;
        margin: auto;
        flex-direction: column;
        margin-bottom: 80px;
    }
    .class-sec>a>.coach-class{
        width:100%;
        /* margin:0px; */
        height: 200px;
        margin:10px 0px;
    }
    .nav-bar{
        width: 80%;
        max-width:80%
    }
    .filter-ul{
        justify-content: space-evenly;
    }
    .filter-ul>.filter-li:nth-child(1){
        width: 0;
        flex-grow: 3;
    }
    .filter-ul>.filter-li:nth-child(3){
        width: 0;
        flex-grow: 3;

    }
    .filter-ul>.filter-li:nth-child(5){
        width: 0;
        flex-grow: 3;
    }
    .filter-ul>.filter-li:nth-child(7){
        width: 0;
        flex-grow: 3;
    }
    .filter-ul>.filter-li:nth-child(8){
        width: 0;
        flex-grow: 4;
    }
    .filter-ul>.filter-li:nth-child(9){
        width: 0;
        flex-grow: 1;
    }
    .nav-bar>.filter-ul>.filter-li>label {
        padding: 5px 3vmin;
    }
    .filter-li>button {
        padding: 0px 1.5vmin;
        margin: auto;
    }
}
    
/* @media screen and (min-width:1024px){
       
} */

    
@media screen and (min-width:1200px){
    .coach-main-body{
        background-image: url(coach-page-bg.jpg);
        background-size:cover ;
    }
    
        .coach-content{
            display: flex;
            width: 90%;
            height: 100%;
            position: relative;
            margin: auto;
            flex-direction: row;
            margin-top:20px ;
         }    

        .class-info{
            width: 70%;
        }

        .coach-rank{
            display: flex;
            /* width: 1200px; */
            /* margin:80px 30px; */
            /* justify-content: space-around; */
            flex-direction: column;
            width: 30%;
            height: 100%;
            margin-top: 90px;
           
        }
        .hito-coach{

            margin-top: 50px;
        }
        .new-coach{

            margin-top: 30px;
        }

        .main-class{
            width: 95%;
            margin: 0;
            margin-right:auto ;
        }

        .class-sec{
            width: 95%;
            flex-direction: row;
            flex-wrap: nowrap;
            margin: 0;
            margin-right:auto ;
            justify-content: space-between;
            gap: 20px;
        }
        .class-sec>a>.coach-class {
            width: 100%;
            /* margin: 0px; */
            height: 200px;
;
        }

        a:nth-child(1)>.coach-class>.class-tag{
            right: 2vmin;
            width: 11vmin;
            height: 4.5vmin;
            line-height: 4.5vmin;
            font-size: 1.3vmin;  
        }
        a:nth-child(3)>.coach-class>.class-tag{
            right: 2vmin;
            width: 11vmin;
            height: 4.5vmin;
            line-height: 4.5vmin;
            font-size: 1.3vmin;  
        }
        a:nth-child(2)>.coach-class>.class-tag{
            right: 2vmin;
            width: 11vmin;
            height: 4.5vmin;
            line-height: 4.5vmin;
            font-size: 1.3vmin;        
        }
        .nav-bar{
            width: 90%;
            max-width:90%
        }
        .nav-bar>.filter-ul>.filter-li>label {
            padding: 7px 35px;
        }

}
 

