 .uts-header{
    position: sticky;
    top: 0;
    z-index: 20;

}

.twicon{
    display: none;
}


.bg-pic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.bg-pic{
    position: relative;
    height: 10vh;
    cursor: pointer;
    width: 100%;
}

.bg-pic p{
    display: none;
    width: 60%;
    height: 100%;
    font-size: 12px;
    /* margin: auto; */
    /* top: 13vh; */
    color: #e4f2f7;
    /* font-size: 12px; */
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 55vh ;
    text-shadow:2px 2px 2px rgba(1, 33, 59, 0.5);
    z-index: 3;
    text-align: center;
    max-width: 250px;
}

.bg-pic h3{
    position: absolute;    
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    font-size: 1.5rem;
    width: 100%;
    height:100%;
    color: #e4f2f7;
    text-shadow:1px 2px 3px rgba(1, 33, 59, 0.5);
    text-align: center;
    line-height: 10vh;
    background-color: rgba(1, 33, 59, 0.8);
    border-bottom: 1px solid #fff;
}
#ph-bg h3{
    border-bottom: 0px ;
}
.main-bg{
    display: none;
}
#travel-title{
    display: none;
}






.group-card{
    margin: 15px auto;
   
}
.col>a{
    margin: auto;
    text-decoration: none;
}
.travel-content{
    width: 100%;
    background-image: url(coach-page-bg-mb.jpg);
    background-size: cover;
    /* padding-top: 50px; */
}
.container{
    max-width: 90%;
    margin: auto;
}







.filter-ul>.filter-li>label{
    text-align: center;
    line-height: 40px;
    padding: 10px 30px;
    background-color: rgb(240, 238, 238,.3);
    border-radius: 5px;
}

.nav-bar{
    width: 80vmin;
    box-shadow: 1px 2px 5px rgba(1, 33, 59, 0.55);

}
.filter-nav{
   margin: 50px 0;
}



.sec-main-nav>ul>.main-nav-btn{
    display: none;
}
.sec-main-nav>ul>.main-nav-btn ul{
    display: flex;
}

.sec-main-nav>ul>li:nth-child(5){
        display: block;
} 

/* 
.main-nav-btn:nth-child(1) >.sub-menu .sub-menu-btn:nth-child(2) a{
    color: #e4f2f7;
   }
.main-nav-btn:nth-child(1) >.sub-menu .sub-menu-btn:nth-child(2) a>i{
    color: #e4f2f7;
} */

ul>.main-nav-btn:nth-child(5)>a{
        color: #e4f2f7;
        font-weight: 400;
        font-size: 15px;
}



.container{
    max-width:100%;
    margin: auto;
    border-top: 2.54px dotted rgb(255, 255, 255,.5);

    padding-top: 50px;
}


.change-page{
    margin: 50px auto;
}

.change-page>ol{
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: flex-end;
}
.change-page>ol a{
   text-decoration: none;
   font-size: 20px;
   padding-bottom: .3px;
   font-weight: 400;
   color: rgb(28, 156, 211);
   border-bottom: 1px solid transparent;
}
.change-page>ol>li:first-child a{
        font-weight: 500;
        color: #fff;
        font-size: 25px;

        padding-bottom: .3px;
        border-bottom: 1px solid #fff;
 }
 .change-page>ol>li:hover a{
    border-bottom: 1px solid #fff;

    transition:border-bottom .5s ;
 }
 

.product-group{

    margin: 0px 8%;

}
.product-group h2{
    color: #0f1b33;
    font-size: 30px;
    font-weight: 600;
    /* margin-top: 100px; */
    margin-bottom: 30px;
    width: fit-content;

}
/* .product-item-list{
    width: 350px;
    display: flex;
    justify-content: space-between;
    margin: auto;
} */
.product-multi-mix{


    margin: auto;

}


.swiper-button-next, .swiper-rtl .swiper-button-prev {
    right: 10px;
    left: auto;
}

.swiper-button-next, .swiper-button-prev {
    --swiper-navigation-size: 3.5vmin;
    width: 7vmin;
    height: 7vmin;
    border-radius: 500px;
    background-color: #fff;
    box-shadow: 2px 2px 4px rgb(1 33 59 / 55%);
    margin-top: -6.5%;
    color: #0f1b33;
    font-weight: 900;
;
}
.group-multi-mix{
    transform: translate3d(0px, 0px, 0px);
    transition-duration: 0ms;

}
.M-mySwiper{
    margin-bottom: 50px;
}

 /* @media screen and (min-width:576px) {
    .group-bg>h2{
        top: 15vh;
    }

    .bg-pic h3{
        top: 15vh;
    }
    .bg-pic p{
        top: 18vh;
    }
    .group-bg{
        height: 70vh;
    }
  
    .group-select-card{
     
        top: 55vh;
    }

 } */

 .bg-pic>a{
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 35%;
    bottom: 0;
    margin: auto;
            
    padding: 10px  20px;
    width: fit-content;
    height: fit-content;
    color: #e4f2f7;
    background-color:rgb(1,165,255) ;
    border-radius:8px ;
    text-decoration: none;
    font-size: 12px;
    letter-spacing: 1px;
    box-shadow: 1px 1px 3px 2px rgba(1, 33, 59, 0.3);
    font-weight: 350;
    letter-spacing: 1px;
    z-index: 3;
    text-align: center;
    cursor:pointer;




}

.bg-pic>a:hover{
   
    background-color:#0f1b33 ;
   
}


.travel-bg{
    display: none;
 }
.travel-hito{
    width: 100%;
    margin-top: 80px;
    /* background-color: #0f1b33; */
}

.travel-hito h2{
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding-left:15px;
    color: #0f1b33;
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 15px;
}
.travel-hito-main{
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    gap: 10px;
   
    /* padding: 10px; */

    border-radius: 8px;
 }
 .travel-main-pic h3{
    position: absolute;
    color: #e4f2f7;
    bottom: 10%;
    left: 5%;
    font-size: 5vmin;
 }
 .travel-all{
    width: 90%;
    height: fit-content;
    margin: auto;
    background-color: rgb(1,165,255,.3);
    max-width: 1200px;
    border-radius: 8px;
    padding: 15px;
     box-shadow:1px 1px 3px rgba(1, 33, 59, 0.5);

 }
.travel-main-pic{
    width: 50%;
    position: relative;
    /* height: 50%; */
}
.travel-main-pic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    /* box-shadow:1px 1px 3px rgba(1, 33, 59, 0.5); */
    cursor: pointer;
}
.travel-map{
    width: 50%;
    /* height: 50%; */
}
.travel-map iframe{
    width: 100%;
    height: 100%;
    border-radius: 8px;
    /* box-shadow:1px 1px 3px rgba(1, 33, 59, 0.5); */
}
.travel-icon{
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    margin-top: 20px;
    justify-content: space-evenly;
}
.travel-icon-item{
    color: #e4f2f7;
    font-size: 16px;
    width: 0;
    flex-grow: 1;
    text-shadow:1px 1px 3px rgba(1, 33, 59, 0.5);
    /* margin: auto; */
    text-align: center;
}
.travel-icon-item i{
    color: #e4f2f7;
    font-size: 30px;
    text-shadow:1px 1px 3px rgba(1, 33, 59, 0.8);
    margin-bottom:10px ;
    padding-bottom: 0;
}
.travel-blog{
    width: 90%;
    max-width: 1200px;
    margin: auto;
    background-color: rgb(1,165,255,.3);
    border-radius:8px ;
     box-shadow:1px 1px 3px rgba(1, 33, 59, 0.5);
     margin-top:80px ;
    
}
.travel-blog-pic,.travel-blog-content{
    width: 90%;
    margin: auto;

   
   
}
.travel-blog-pic{
    display: flex;
    gap: 10px;
}
.travel-blog-pic-item{
    height: 50vmin;
    padding-bottom: 20px;
}
.travel-blog-pic-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    /* box-shadow:1px 1px 3px rgba(1, 33, 59, 0.5); */
}
.travel-blog-content>a{
    text-decoration: none;
    color: #e4f2f7;
    padding: 10px 25px;
    background-color: #0f1b33;
    border-radius: 8px;
  

}
.travel-blog-content>h2{
    color: #0f1b33;
    font-weight: 700;
    font-size: 25px;
    margin-top: 50px;
    margin-bottom: 20px;
    padding-top:20px ;
}
.travel-blog-content>p{
    color: #0f1b33;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: .8px;
    /* margin-top: 50px; */
    margin-bottom: 30px;
    line-height: 20px;
}
.travel-blog-content{
    margin-bottom: 30px;
}
.famous-pic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    vertical-align: middle;
    /* border-radius: 8px; */
}
.item-2 img{
    object-fit: fill;
}
.famous-pic{
    display: flex;
    width: 100%;
    gap: 5px;
    /* height: 30vmin; */
}
.famous-item:nth-child(2)>.famous-pic{
    order: 1;
}
.famous-item:nth-child(2)>.famous-pic>.item:first-child img{
    border-radius: 0;
}
.famous-item:nth-child(2)>.famous-pic>.item:last-child :first-child{
    border-radius: 0px 8px 0px 0px;
}
.famous-item:nth-child(2)>.famous-pic>.item:last-child :last-child{
    border-radius: 0px 0px 8px 0px;
}
.famous-item{
    /* width: 80%;
    height: fit-content; */
    background-color: #e4f2f7;
    box-shadow:1px 1px 3px rgba(1, 33, 59, 0.5);
    border-radius: 8px;
    flex-direction: row;
    display: flex;
    height: 20%;
    margin-bottom: 35px;
}
.famous-travel-content{
    display: flex;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-evenly;
    flex-direction: column;
}
.famous-title{
    width: 90%;
    max-width: 1200px;
    margin:0 auto;
}
.famous-title h2{
    color: #0f1b33;
    font-weight: 700;
    font-size: 25px;
    padding-top: 80px;
    margin-bottom: 20px;
    padding-left:15px ;

}
.item{
    width: 0;
    flex-grow: 1;
}
.item-2{
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 50%;
}
.famous-info{
    width: 100%;
    height: 50%;
    margin: auto;
}
.famous-info h3{
    width: fit-content;
    height: fit-content;
    margin: auto;
    font-size: 20px;

}
.famous-info p{
    width: 85%;
    height: fit-content;
    margin:10px auto 0px auto;
    font-size: 13px;
    text-align: center;
    letter-spacing: 1.2px;
    line-height: 20px;

}
.item:first-child img{
    border-radius: 8px 0px 0px 8px;
}
.travel-focus-pic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 8px 8px 0px 0px;

}
.travel-focus{
    width: 90%;
    max-width: 1200px;
    margin:80px auto;
    border-radius: 8px;
   
}
.travel-focus-content{
    box-shadow:1px 1px 3px rgba(1, 33, 59, 0.5);
    border-radius: 8px;
}
.travel-focus-info{
    background-color: #00b3f4;
    border-radius: 0px 0px 8px 8px; 
    padding-bottom: 10px;
}
.travel-focus-info h3{
    color:#e4f2f7 ;
    font-size: 25px;
    width: 80%;
    margin:0 auto;
    padding-top: 20px;
    text-align: center;
}
.travel-focus-info p{
    color:#e4f2f7 ;
    font-size: 15px;
    line-height: 20px;
    width: 80%;
    margin: 20px auto;
    text-align: center;
}
.travel-focus-info a{ 
    /* display: block;   */
    color:#e4f2f7 ;
    font-size: 15px;
    line-height: 20px;
    padding: 10px 20px;
    border-radius: 8px;
    background-color: #0f1b33;
    width: 80%;
    margin: 20px auto;

}
.travel-focus-info-text:last-child p{ 
   padding-top:10px ;


}
.travel-focus-title h2{
    color: #0f1b33;
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 20px;
    padding-left:15px ;
    /* width: 100%; */
}
.travel-focus-title{
    /* width: 90%; */
    max-width: 1200px;
    margin:auto;
}

@media screen and (min-width:769px) {
    
    .travel-focus-info h3{
        text-align: left;
        /* flex-grow: 2; */
        font-size: 28px;
    }
    .travel-focus-info p{
        text-align: justify;
        line-height: 25px;
        font-size: 17px;
        /* flex-grow: 1; */
    }
    /* .travel-focus-info-text a{
        margin-right: auto;

    } */
    .travel-focus-info-text{
       display: flex;
       flex-direction: column;
       justify-content: center;
        height: 100%;
    }
    .travel-focus-content{
        display: flex;
    }
    .travel-focus-info { 
        width: 30%; 
        
    
    

    }
    .travel-focus-pic { 
        width: 70%;    
    }
    .travel-focus-pic img { 
        border-radius: 8px 0px 0px 8px;   
    } 
    .travel-focus-info { 
        border-radius: 0px 8px 8px 0px;   
    }

    .famous-item:nth-child(2)>.famous-pic{
        order: -1;
    }
    .famous-item:nth-child(2)>.famous-pic>.item:first-child img{
        border-radius: 8px 0px 0px 0px;
    }
    .famous-item:nth-child(2)>.famous-pic>.item:last-child :first-child{
        border-radius: 0px 8px 0px 0px;
    }
    .famous-item:nth-child(2)>.famous-pic>.item:last-child :last-child{
        border-radius: 0px 0px 0px 0px;
    }
    
    
    .famous-travel-content{
       
        flex-direction: row;
    }
    .famous-item{
        width: 30%;
        flex-direction: column;
        padding-bottom: 20px;
        margin: auto;
    }
    .famous-info h3{
      margin-top: 15px;
    
    }

    .item:first-child img{
        border-radius: 8px 0px 0px 0px;
    }
    .item:nth-child(2) :first-child{
        border-radius: 0px 8px 0px 0px;
    }
    .travel-blog{
      display: flex;
      

    }
    .travel-blog-content{
        width: 0;
        flex-grow: 1;
        margin-left: 20px;
        margin-top:0 ;
        
    }
    .travel-blog-pic{
        width: 0;
        flex-grow: 4;
        margin-right:20px ;
        /* margin-bottom: 0; */
    }
    .travel-bg-mb{
        display: none;
     }
    .travel-bg{
        display: block;
    }
    .travel-blog-pic-item{
        margin: 20px 5px;
        padding-bottom: 0;
    }
    .travel-blog-content>h2{
        padding-top: 0;
        margin-top:20px ;
    }
    .travel-blog-content>p{
      font-size: 17px;
        line-height: 30px;
        width: 85%;
        letter-spacing: 1.5px;
    }
    
    .travel-bg>h2{
        width: fit-content;
        height: fit-content;
        position: relative;
        margin: auto;
        top: 40vh;
        color: #e4f2f7;
        font-size: 10vmin;
        font-weight: 700;
        text-shadow:2px 2px 5px rgba(1, 33, 59, 0.8);
        z-index: 1;
    }

    .travel-blog-pic-item{
        height: 40vmin;

    }



    .travel-bg{
        height: 90vh;
        width: 100%;
        position: relative;
        z-index: 1;
    }
    .bg-pic-main{
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        text-align: center;
        opacity: 0;
        /* z-index: 2; */
    }
    
    .bg-pic-main img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        z-index:1;
    }
    
    #travel-title{
        width: 90%;
        max-width: 1200px;
        margin: auto;
        /* height: fit-content; */
        position: relative;

        top: 38vh;
        color: #e4f2f7;
        font-size: 10vmin;
        font-weight: 700;
        text-shadow:2px 2px 5px rgba(1, 33, 59, 0.8);
        z-index:3 ;
        display: block;
    }
    .main-text{
        margin: auto;
        width: 90%;
        max-width:1200px ;
    }

    .main-text h3{
        width: fit-content;
        height: fit-content;
        position: relative;
        margin: auto 0 ;
        margin-right: auto;
        top: 30vh;
        color: #e4f2f7;
        font-size: 10vmin;
        font-weight: 700;
        text-shadow:2px 2px 5px rgba(1, 33, 59, 0.8);
        z-index:2 ;
      
    }
    .main-text p{
        width: 40%;
        height: fit-content;
        position: relative;
        margin: auto 0 ;
        margin-right: auto;
        top: 33vh;
        color: #e4f2f7;
        font-size: 2.5vmin;
        font-weight: 350;
        letter-spacing: 1.5px;
        line-height: 3.5vmin ;
        text-shadow:1px 1px 3px rgba(1, 33, 59, 0.8);
        z-index: 2;
        text-align: left;
    }
    .big-main-bg{
        opacity: 1;
        z-index: 2;
    }
    .travel-head{
        width: 100%;
    }
   
    .main-text>a{
        padding: 12px  50px;
        width: fit-content;
        height: fit-content;
        color: #e4f2f7;
        background-color:rgb(1,165,255) ;
        border-radius:8px ;
        z-index: 5;
        top: 35vh;
        display: block;
        position: relative;
        text-decoration: none;
        font-size: 16px;
        letter-spacing: 1px;
        box-shadow: 1px 1px 3px 2px rgba(1, 33, 59, 0.3);
        /* left: 20%; */
    }

    .main-text>a:hover{
       
        background-color:#0f1b33 ;
       
    }
    .travel-bg{
        background-color: #0f1b33;
        z-index: 2;
    }
    .tw-map{
        position: absolute;
        bottom: 5%;
        left: 0;
        right: 0;
        z-index: 3;
        width: 90%;
        max-width: 1200px;
        margin: auto;
    }
    .twicon{
        display: block;
        width: 204px;
        position: relative;
        margin-left: auto;
        z-index:3 ;
    }
    .twicon img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        text-shadow:1px 2px 2px rgba(1, 33, 59, 0.8);
    }
    .location-icon{
        position: absolute;
        font-size: 15px;
        letter-spacing: 2px;
        color: #e4f2f7;
        font-weight: 500;
        cursor: pointer;
        text-shadow:1px 2px 2px rgba(1, 33, 59, 0.8);
    }
    .location-icon i{
        font-size: 15px;
        color: #e4f2f7;

    }

    .ne{
        right: -15%;
        top: 0%;
    }
    .lu{
        bottom: 6%;
        right: 3%;
    }
    .gl{
        right: 5%;
        bottom: 25%;
    }
    .ball{
        left: 9%;
        bottom: 10%;
    }
    .kt{
        bottom: 2%;
        left: 49%;
    }
    .ph{
        left: 6%;
        top: 45%;
    }


  

    .swiper-button-next, .swiper-button-prev {
       
        margin-top: -2.5%;
    
    }
    
    .group-card-title h3{
       
        color:#040404;
      
    }
    .group-card-title p{
        
        color:#040404;;
          
    }

    .main-nav-btn:nth-child(5)>.sub-menu{
        display:flex ;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: rgba(97, 134, 164);
        /* padding: 10px; */
        width: 100%;
        justify-content: center;
        
    }
    /* .sec-main-nav>ul>li:nth-child(3){
        display: none;
    } */

    .nav-bar{
        width: 80%;
        max-width:80%
    }
    .filter-ul{
        justify-content: space-evenly;
    }
    .filter-ul>.filter-li:nth-child(1){
        width: 0;
        flex-grow: 3;
    }
    .filter-ul>.filter-li:nth-child(3){
        width: 0;
        flex-grow: 3;

    }
    .filter-ul>.filter-li:nth-child(5){
        width: 0;
        flex-grow: 3;
    }
    .filter-ul>.filter-li:nth-child(7){
        width: 0;
        flex-grow: 3;
    }
    .filter-ul>.filter-li:nth-child(8){
        width: 0;
        flex-grow: 4;
    }
    .filter-ul>.filter-li:nth-child(9){
        width: 0;
        flex-grow: 1;
    }
    .nav-bar>.filter-ul>.filter-li>label {
        padding: 5px 3vmin;
    }
    .filter-li>button {
        padding: 0px 1.5vmin;
        margin: auto;
    }
    .bg-pic p{
        width: 39%;
    }

    .travel-content{
        width: 100%;
        background-image: url(coach-page-bg.jpg);
        background-size: cover;
        /* padding-top: 50px; */
    }
    .group-bg>h2{
        top: 20vh;
    }

    .bg-pic h3{
        top: 20vh;
    }
    .bg-pic p{
        top: 23vh;
    }
}
 @media screen and (min-width:1024px) {


.group-select-card {
  
    max-width: 820px;
    
}
 }

    
@media screen and (min-width:1200px){
 
        .nav-bar{
            width: 90%;
            max-width:1200px
        }
        .nav-bar>.filter-ul>.filter-li>label {
            padding: 7px 35px;
        }
        .product-group{
            width: 90%;
            max-width:1200px;
            margin: auto;
        }
        .container{
            width: 90%;
            max-width:1200px
        }
}
 

