.personal-main-content{
    display: flex;
    flex-direction: column;
}
.personal-main-title{

    margin-top:0px ;

}
.sec-main-nav>ul>li:nth-child(1){
    display: block;
}

.main-nav-btn:nth-child(1) >.sub-menu .sub-menu-btn:nth-child(2) a{
    color: #e4f2f7;
   }
.main-nav-btn:nth-child(1) >.sub-menu .sub-menu-btn:nth-child(2) a>i{
    color: #e4f2f7;
}
ul>.main-nav-btn:nth-child(1)>a{
        color: #e4f2f7;
        font-weight: 400;
        font-size: 15px;
}


header{
    position: sticky;
    top: 0;
    z-index: 20;

}
.personal-main-title{
    position: relative;
    /* margin-top:79px ; */
    background-color: #d6eaf6;
}

.back-btn{
    position: absolute;
    left: 20px; 
    top: 20px;
    color: #fff;
    z-index: 10;
    
}
.fa-chevron-left{
   font-size: 30px;
}

.fa-chevron-left{
    font-size: 30px;
}

.personal-main-content{
    display: flex;
    width: 100%;
    height: 100%;
}
.personal-cover-pic{
    max-width: 100%;
    max-height: 100%;
    position: relative;
}
.personal-cover-pic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
}
.coach-tg{
    display: flex;
    z-index: 5;
}
.coach-tg p{
    position: absolute;
    bottom: 8.5%;
    right: 0px;
    
    color: #0F1B33;
    background-color: #fff;
    text-align: center;
    /* line-height:40px ; */

    height:36px ;
    font-weight:bold;
    font-size: 30px;
    padding:  0px 10px;
    z-index: 3;
}
.personal-info{
    width: 100%;
    height: 100%;
    margin: auto;
    margin-bottom: 30px;
}

 .personal-license-tag{
    width:50px;
    background-color:#0376d3;
    color: #fff;
    padding: 5px ;
    padding-bottom: 4px;
    font-size: 15px;
    font-weight: 300;
    margin: 5px;
    height: 20px;
    text-align: center;
    border-radius: 5px;
} 
.tag-group{
    display: flex;
    justify-content:space-between;

    width: 90%;
    align-items: center;
    margin: 20px auto;
}

.license-tag-group{
    display: flex;

}
.license-tag-group>.personal-license-tag:nth-child(1){
    margin-left: 0;
}
.personal-name h2{
    color: #0F1B33;
    font-size: 45px;
    /* margin: 10px 25%; */
    display: none;
}

.diving-type{
    height: 30px;
    color: #fff;
    background-color: #0F1B33;
    z-index: 2;
    font-family: 'Quicksilver','Roboto Flex', sans-serif;
    font-weight: 800;
    font-size: 25px;
    line-height: 30px;
    padding: 5px;
    width: 100%;
    border-radius: 5px;
    width: fit-content;
}


.personal-cover-pic>.personal-name h2{
    color: #e4f2f7;
    font-size: 35px;
    bottom: 0;
    display: block;
    position: absolute;
}

.personal-cover-pic>.personal-name{
    color: #e4f2f7;
    font-size: 45px;
    bottom: 7%;
    margin-right:auto ;
    margin-left: 20px;
    position: absolute;
}




.personal-info-bar{
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(113, 194, 252, 0.3);
    height: 50px;
    margin: auto;
   
} 
.personal-info-box{
    border-left: 2px solid rgba(8, 88, 146, 0.5);
    border-right: 2px solid rgba(8, 88, 146, 0.5);
    flex-grow: 1;
    width: 100%;
    height: 100%;
    position: relative;
   
}

.info-title{
    font-size: 12px;
    color: rgba(43, 44, 44, 0.6);
    margin: 5px;
}
.info-title+p{
    color: rgb(56, 58, 58);
    position: absolute;
    text-align: center;
    font-size: 20px;
    margin: auto;
    top: 30%;
    font-weight: 600;
    left: 0;
    right: 0;
}


.personal-info-bar .personal-info-box:nth-child(2),.personal-info-bar .personal-info-box:nth-child(1){
    border-right: 0px
}
.personal-info-box>p>span{
    font-size: 15px;
}
.personal-intro-text{
    width: 85%;
    margin: 20px auto;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #545556;
   
}
.personal-btn{
    display: flex;
    justify-content: center;
    width: 90%;
    margin: auto;
}
.personal-btn a{
    text-decoration: none;
}
.follow-btn,.chat-btn{
    border-radius: 5px;
    background-color: #154770;
    color: rgb(255, 255, 255,.8);
    /* width: 120px; */
    /* height: 40px; */
    padding: 10px 20px;
    text-align: center;
    /* line-height: 40px; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor:pointer;
    margin-right: auto;
  

}

.follow-btn{
    margin-right: 20px;
}


.personal-social-icon{
    position: absolute;
    top: 10px;
    right: 10px;
    
}
.personal-social-icon i{
    /* position: absolute; */
    font-size: 20px;
    margin: 5px;
    color: #e4f2f7;
}
.fa-brands{
    color: #0F1B33;
    margin: 10;
    font-size: 15px;
}
.pagedown-btn-div{
    width: 100%;
    
    display: flex;
    justify-content: center;
}

.pagedown-btn{
    color:#fff;
    margin: auto;
    font-size: 50px;
    margin-top:-10px ;
    text-shadow: 1px 1px 4px rgba(43, 44, 44, 0.6);
    cursor: pointer;
    z-index: 3;
    transition: transform .5s,color .5s;
}
.main-content-body{
    padding: 50px 0px;
}
.personal-main-conent{
    background-image: url(pic/personal-bg.png);
    background-size: cover;
    position: relative;
}
.main-content-info{
    display: flex;
    flex-direction: column;
    justify-content:center;
    gap: 80px; 
    margin: auto;
    background-color: rgb(255, 255, 255,.2);
    width:80% ;
    padding: 20px ;
    border-radius: 10px;
    margin-bottom: 110px;
}

.main-depth{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:90%;
    margin: auto;
}
.depth-text{
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-bottom: 10px;
    /* flex-wrap: nowrap; */
    flex-direction: column;
    margin-left: 5%;
}


.depth-text>h2{
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    /* margin-left: 5%; */
    margin-right:10px;
    word-break: keep-all;
}
.depth-pic-text{
    display: flex;
    width: 100%;
    /* flex-direction: column; */
    
}
.depth-info-item {
    color: #0f1b33;
    font-size: 13px;
    padding: 5px 2px;
    font-weight: 400;
    /* margin-right: 3px; */
    /* display: flex; */
    /* flex-direction: column; */
}

.depth-info-item i{
    font-size: 15px;
    font-weight: 700;
    color: #0f1b33;
    padding: 5px;
}

.depth-text p{
    color: #fff;
    font-size: 60px;
    font-weight: 700;
    margin:5px 0px 10px;
    margin-left: 5%;
   

}
.depth-pic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.depth-pic-info{
    display: flex;
    justify-content: space-evenly;
}

.main-active{
    margin: auto;
    width: 100%;
}

.active-group{
    background-color: #0376d3;
    border-radius:8px ;
    width: 85%;
    display: grid;
    grid-template-rows:repeat(4,1fr) ;
    margin: auto;
    position: relative;
    
}
.main-active>h2{
    display: none;

}
.active-group>h2{
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    text-align: left;
    position: absolute;
    top: -40px;
    left:5% ;
    /* margin:auto */

}
.active-bar{
    display:grid;
    text-align: center;
    grid-template-columns:repeat(4,1fr) ;
    grid-template-columns: 12% 35% 18% 35%;
    background-color: #fff;
    /* height: 20px; */
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 10px auto;
    border-radius: 3px;
    color:#0F1B33;
    font-size: 12px;
    padding: 3px 0px;
    /* text-align: center; */
}
.active-bar i{
    color:#0F1B33;

}
.container{
    max-width: 1000px;
    margin: 50px;
}
.container h2{
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
}

.col{
    margin:15px 0px;        
    position: relative;

}

.col>a>img{

    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 3px 3.5px 6px rgba(43, 44, 44, 0.6);
}
.col>a:hover img{
    opacity: .6;
}
footer{
    margin-top: 0px;
    padding-top:50px ;

}
#main-body-switch:checked+.personal-main-conent>footer{
    margin-top: 80px;
    padding-top:0px ;
}
#main-body-switch:checked+.personal-main-conent>.main-content-body{
    display: block;
    /* top: 0; */
    /* opacity: 1; */
    /* transform: scaleY(1); */
    /* transition:top transform 1s ; */
}
.main-content-body{
    /* opacity: 0; */
    display: none;
    /* position: absolute; */
    /* top: -200px; */
    /* transform: scaleY(0.1); */
}
#main-body-switch{
    display: none;
}
#follow{
    display: none;
}
#follow:checked+label{
background-color: #0376d3;
color: #fff;
}
#follow:checked+label>i{

    color: #fff;
    }
#main-body-switch:checked+.personal-main-conent>.pagedown-btn-div>label>i{
    transform: scale(.8) rotate(-180deg);
    color: rgb(239, 239, 239);
    transition: transform .5s,color .5s;
    text-shadow: -1px -1px 4px rgba(43, 44, 44, 0.6);
    /* transform:  ; */
}
.personal-main-conent>.pagedown-btn-div>label{
    transform: scale(1);
}

@media screen and (min-width:768px) {
    .personal-main-content{
        flex-direction: row;
    }

    .sub-icon{
        color: #0f1b33;
        font-size: 30px;
        padding-bottom: 15px;
    }
    .main-nav-btn:hover>.sub-menu{
        display:none ;
    }
    .main-nav-btn:nth-child(1)>.sub-menu{
        display:flex ;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: rgba(97, 134, 164, 0.85);
        /* padding: 10px; */
        width: 100%;
        justify-content: center;
        z-index: 10;
    }
    .sub-menu-btn a{
        display: flex;
        flex-direction: column;
        align-items:center;
        padding: 10px 35px;
        font-size: 14px;
        font-weight: 350;
       
    }
    .main-nav-btn>.sub-menu a{
        color: #0f1b33;
    }
    /* .main-nav-btn>a:hover >.sub-menu a:hover{
        color: #e4f2f7;
    } */
    ul>.freedivg-btn >a{
        color:rgb(255, 255, 255);
        font-weight: 500;
        font-size: 15px;
    }

    
    .freedivg-btn>ul>li:nth-child(2) a{
        color: #e4f2f7;
        font-weight: 400;
    }
    .freedivg-btn>ul>li:nth-child(2) a>i{
        color: #e4f2f7;
        
    }
    .personal-main-title{

        margin-top:79px ;

    }
    .personal-cover-pic{
        max-width: 50%;


    }
    .personal-info{
        margin: auto;
        max-width: 50%;
    }
    .personal-name{
        width: 350px;
    }
    .personal-name h2{
        display: block;
        font-size: 45px;

        margin-bottom: 20px;
    }
    .personal-name{

        margin: auto;
       
    }
    .main-depth{
        flex-direction: row;
    }
    
    .personal-cover-pic>.personal-name h2{
        display: none;
       
    }

    .coach-tg p{
        height:46px ;
        font-size: 40px;
        padding:  0px 20px;

    }
    .tag-group{
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 350px;

    }
    .personal-intro-text{
        width: 350px;
        bottom: 20px;
    }
    .personal-info-bar{
        width: 350px;
    }
    .info-title+p{
        font-size: 24px;
    }
    
    .personal-info-item{
        width: 100%;
       
    }
    .personal-btn{
        margin-bottom: 20px;
    }
    .main-active{
        display: flex;
        align-items: center;
        /* gap: 10px; */
        max-width: 90%;
    }
    .main-active>h2{
        display: block;
        color: #fff;
        font-size: 30px;
        font-weight: 700;
        text-align: left;
        width: 354px;
        text-align: center;


    }
    .main-depth{
        max-width: 90%;
    }
    .depth-text{
        width: 354px;
        margin-left:0;
        margin-bottom: 0;
        margin-right:auto ;
        /* text-align: left; */
    }
    .active-group>h2{
        display: none;
       
    }
    .active-bar{
    
        margin: 12px auto;
        font-size: 15px;
        padding: 5px 0px;
        /* text-align: center; */
    }



    .personal-social-icon i{
        color: rgb(36, 82, 114);
        font-size: 25px;
        margin: 8px;


    }


    .container{
        max-width: 1000px;
        margin: auto;
    }

}

