.group-card{
    margin: 10px;
    width: 400px;
    box-shadow:2px 3px 7px 1px rgba(49, 49, 49, 0.3);
    border-radius: 8px;
    background: #fff;
    position: relative;
}
.group-card img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 8px 8px 0px 0px;
    margin-bottom:0px ;
    vertical-align: bottom;
}
.group-hover{
    width: 100%;
    height: 300px;
    border-radius: 8px 8px 0px 0px;
    background: rgba(0, 13, 35, 0.5);
    position: absolute;
    color: #fff;
    text-align: center;
    font-size: 14px;
    top: 0;
    display: flex;
    align-items: center;
    opacity: 0;
    transition:  opacity 0.5s;
}
.group-card>.group-hover:hover{
    opacity:1 ;
    transition:  opacity 0.5s;
}
.group-hover p{
    
    padding: 5px;
    width: 100px;
    border:1px solid #fff;
    height: 30px;
    line-height: 30px;
    margin: auto;
    border-radius: 8px;
    
}

.group-card-info{
    display: flex;
    justify-content: space-around;
    height: 100px;
}
.group-card-title,.group-card-license,.group-card-people{
    padding:5px 5px;
    display: flex;
    /* margin: 0px 20px; */
    justify-content: space-evenly;
    flex-direction: column;
}

.group-card-info p{
    font-size: 14px;
    color: rgb(131, 131, 131);
}
.group-card-title{
    width: 130px;
}
.schedule {
    /* border:1px solid #194d73; */
    width: 100px;
    height: 4px;
    background-color: #A0DFF9;
    border-radius: 5px;
}
.schedule-line{
    /* border:1px solid #194d73; */
    width: 80px;
    height: 4px;
    background-color: #154770;
    border-radius: 5px;
}
.group-card-title h3{
    font-size: 22px;
    font-weight: 450;
    color: black;
}
.group-card-title p{
    font-size: 10px;
    color: rgb(49,49, 49);
}
.group-card-people p:last-child{
    
    font-size: 50px;
    font-weight:500 ;
    color: rgb(49,49, 49);
}
.group-card-people p:last-child span{
    font-size: 15px;
    margin-left: -10px ;
}
.license-tag{
    width:fit-content;
    background-color:#154770;
    color: #fff;
    padding: 5px;
    font-size: 10px;
    margin: 3px 0px;
}


@media screen and (max-width:575px) {
    .group-card{
        margin: 4.8px;
        width: 192px;
    }
    .group-card img{
        height: 144px;
    }
    .group-hover{
        height: 144px;
        font-size: 12px;
        top: 0;
    }

    .group-hover p{
        padding: 4px;
        width: 48px;
        /* border:1px solid #fff; */
        height: 14.4px;
        line-height: 14.4px;
        border-radius: 1.5px;
    }
    
    .group-card-info{
        height: 48px;
    }
    .group-card-title,.group-card-license,.group-card-people{
        padding:2.4px 2.4px;
    }
    
    .group-card-info p{
        font-size: 12px;
    }
    .group-card-title{
        width: 62.4px;
    }
    .schedule {
        width: 48px;
        height: 4px;
    }
    .schedule-line{
        width: 38.4px;
        height: 4px;
        border-radius: 5px;
    }
    .group-card-title h3{
        font-size: 12px;
    }
    .group-card-title p{
        font-size: 12px;
    }
  
    .group-card-people p:last-child{
        font-size: 24px;
        font-weight:500 ;
        padding-top: 3px;
    }
    .group-card-people p:last-child span{
        font-size: 12px;
        margin-left: -7.5px ;
    }
    .license-tag{
        width:fit-content;
        padding: 0.5px 4px;
        font-size: 12px;
        margin: 0.5px 0px;

    }
    

}

@media screen and (min-width:576px) {
    .group-card{
        margin: 4.8px;
        width: 192px;
    }
    .group-card img{
        height: 144px;
    }
    .group-hover{
        height: 144px;
        font-size: 12px;
        top: 0;
    }

    .group-hover p{
        padding: 4px;
        width: 48px;
        /* border:1px solid #fff; */
        height: 14.4px;
        line-height: 14.4px;
        border-radius: 1.5px;
    }
    
    .group-card-info{
        height: 48px;
    }
    .group-card-title,.group-card-license,.group-card-people{
        padding:2.4px 2.4px;
    }
    
    .group-card-info p{
        font-size: 12px;
    }
    .group-card-title{
        width: 62.4px;
    }
    .schedule {
        width: 48px;
        height: 4px;
    }
    .schedule-line{
        width: 38.4px;
        height: 4px;
        border-radius: 5px;
    }
    .group-card-title h3{
        font-size: 12px;
    }
    .group-card-title p{
        font-size: 12px;
    }
   
    .group-card-people p:last-child{
        font-size: 24px;
        font-weight:500 ;
        padding-top: 3px;
    }
    .group-card-people p:last-child span{
        font-size: 12px;
        margin-left: -7.5px ;
    }
    .license-tag{
        width:fit-content;
        padding: 0.5px 4px;
        font-size: 12px;
        margin: 0.5px 0px;
    }

}

@media screen and (min-width:768px) {
    .group-card{
        margin: 6.4px;
        width: 256px;
    }
    .group-card img{
        height: 192px;
    }
    .group-hover{
        height: 192px;
        font-size: 12px;
        top: 0;
    }

    .group-hover p{
        padding: 4.5px;
        width: 64px;
        /* border:1px solid #fff; */
        height: 19.2px;
        line-height: 19.2px;
        border-radius: 3px;
    }
    
    .group-card-info{
        height: 64px;
    }
    .group-card-title,.group-card-license,.group-card-people{
        padding:3.2px 3.2px;
    }
    
    .group-card-info p{
        font-size: 12px;
    }
    .group-card-title{
        width: 83.2px;
    }
    .schedule {
        width: 64px;
        height: 4px;
    }
    .schedule-line{
        width: 51.2px;
        height: 4px;
        border-radius: 5px;
    }
    .group-card-title h3{
        font-size: 14.08px;
    }
    .group-card-title p{
        font-size: 12px;
    }
    .group-card-people p:last-child{
        font-size: 32px;
        font-weight:500 ;
        padding-top: 0px;
    }
    .group-card-people p:last-child span{
        font-size: 12px;
        margin-left: -10px ;
    }
    .license-tag{
        width:fit-content;
        padding: 1.5px 4px;
        font-size: 12px;
        margin: 0px 0px;
    }

    .license-tag p{
        width:fit-content;
        padding: 0px 4px;
        font-size: 12px;
        margin: 0px 0px;
    }

}

@media screen and (min-width:992px) {
    .group-card{
        margin: 8.27px;
        width: 330.67px;
    }
    .group-card img{
        height: 248px;
    }
    .group-hover{
        height: 248px;
        font-size: 14px;
        top: 0;
    }

    .group-hover p{
        padding: 5px;
        width: 82.7px;
        /* border:1px solid #fff; */
        height: 24.8px;
        line-height: 24.8px;
        border-radius: 5px;
    }
    
    .group-card-info{
        height: 82.7px;
    }
    .group-card-title,.group-card-license,.group-card-people{
        padding:4.13px 4.13px;
    }
    
    .group-card-info p{
        font-size: 14px;
    }
    .group-card-title{
        width: 107.47px;
    }
    .schedule {
        width: 82.7px;
        height: 4px;
    }
    .schedule-line{
        width: 66.13px;
        height: 4px;
        border-radius: 5px;
    }
    .group-card-title h3{
        font-size: 18.186px;
    }
    .group-card-title p{
        font-size: 12px;
    }
    .group-card-people p:last-child{
        font-size: 41.3px;
        font-weight:500 ;
    }
    .group-card-people p:last-child span{
        font-size: 14px;
        margin-left: -10px ;
    }
    .license-tag{
        width:fit-content;
        padding: 4.13px;
        font-size: 12px;
        margin: 0px 0px;
    }
    .group-card-license p{
      padding-top:1.5px ;
    }
}

@media screen and (min-width:1200px) {
    .group-card{
        margin: 10px;
        width: 400px;
    }
    .group-card img{
        height: 300px;
    }
    .group-hover{
        height: 300px;
        font-size: 14px;
        top: 0;
    }

    .group-hover p{
        padding: 5.5px;
        width: 100px;
        /* border:1px solid #fff; */
        height: 30px;
        line-height: 30px;
        border-radius: 8px;
    }
    
    .group-card-info{
        height: 100px;
    }
    .group-card-title,.group-card-license,.group-card-people{
        padding:5px 5px;
    }
    
    .group-card-info p{
        font-size: 14px;
    }
    .group-card-title{
        width: 130px;
    }
    .schedule {
        width: 100px;
        height: 4px;
    }
    .schedule-line{
        width: 80px;
        height: 4px;
        border-radius: 5px;
    }
    .group-card-title h3{
        font-size: 22px;
    }
    .group-card-title p{
        font-size: 12px;
    }
    .group-card-people p:last-child{
        font-size: 50px;
        font-weight:500 ;
    }
    .group-card-people p:last-child span{
        font-size: 14px;
        margin-left: -10px ;
    }
    .license-tag{
        width:fit-content;
        padding: 5px;
        font-size: 12px;
        margin: 0px 0px;
    }

}



