a{text-decoration: none;
}

.uts-header{
    position: sticky;
    top: 0;
    z-index: 10;
  

}
.product-main-body{
    position: relative;

    background-image: url(pic/product-bg.png);
    background-size: cover ;
    vertical-align: middle;
   
}
.cover-row>.col{
    padding: 10px 20px;
}
.cover-row>.col a img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 1px 2px 5px rgba(1, 33, 59, 0.55);
}

.cover-pic-2 a img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 1px 2px 5px rgba(1, 33, 59, 0.55);
}

.cover-container>.cover-row>.col:first-child,.cover-container>.cover-row>.col:last-child{

    height: 30vmin;
    margin: auto;

}

.cover-container>.cover-row>.col:first-child a>img,.cover-container>.cover-row>.col:last-child a>img{
   object-position:0 -25vmin ;
}
.cover-container>.cover-row>.col:last-child a>img{

    object-position:0 -30vmin ;
 }



.product-main-head{
    position: relative;

}
.product-head-title {
    max-width: 150vmin;
    margin: auto;
    text-align: center;
}
.product-head-title h2{
    color: #e4f2f7;
    font-size: 15vmin;
    font-weight: 600;    
    padding: 50px 0px;
    line-height: 18vmin;
    margin-left: 18px;

}

.product-main-content{
    position: relative;
    top: 0;
    margin: auto;
}
.product-group{
    /* width: 1200px; */
    /* padding: 0px 15px; */
    margin: 0px 5%;

}
.product-group h2{
    color: #0f1b33;
    font-size: 30px;
    font-weight: 600;
    margin-top: 100px;
    margin-bottom: 30px;

}
/* .product-item-list{
    width: 350px;
    display: flex;
    justify-content: space-between;
    margin: auto;
} */
.product-multi-mix{

    transform: translate3d(0px, 0px, 0px);
    transition-duration: 0ms;
    margin: auto;

}



.product-sale{
    width: 100%;
}
.product-sale img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 1px 2px 5px rgba(1, 33, 59, 0.55);
}
.product-multi-item{
    width:100%;
    height: 100%;
}
.multi-item-pic-4{
    width: 100%;
    height: 100%;
    display: grid; 
    grid-template-columns: repeat(2,1fr);
    grid-template-rows:repeat(2,1fr);

    gap: 5px;
    border-radius:8px ;
}

.multi-item-pic-4 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius:8px ;
    box-shadow: 1px 2px 5px rgba(1, 33, 59, 0.55);
}
.multi-item-pic-3{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 5px;
    width: 100%;
    height: 100%;
}
.multi-item-2-pic{
    display: grid;
    grid-template-rows: repeat(2,1fr);
    gap: 5px;
    width: 100%;
    height: 100%;
}
.multi-item-pic-3 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius:8px ;
    box-shadow: 1px 2px 5px rgba(1, 33, 59, 0.55);
   
}
.multi-item-pic-3-mix{
    display: grid;
    grid-template-rows: repeat(2,1fr);
    gap: 5px;
    width: 100%;
    height: 100%;

}
.multi-item-2-mix{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 5px;
    width: 100%;
    height: 100%;
    
}

.multi-item-pic-3-mix img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius:8px ;
    box-shadow: 1px 2px 5px rgba(1, 33, 59, 0.55);
   
}
.product-item-info p,.product-sale-info p{
    font-size: 20px;
    font-weight: 600;
    color: #0f1b33;
    margin:15px ;
    margin-bottom: 5px;
}
.product-item-info p+p,.product-sale-info p+p{
    font-size: 14px;
    font-weight: 500;
    color: #0f1b33;;
    margin-top:7px ;
}
.product-main-content .product-group:nth-child(2)>h2{
    margin-top: 100px;
}
.product-multi-item,.product-sale,.product-ad-group{
    cursor: pointer;
}
.product-ad-group{
    display: flex;
    max-width: 85vmin;
    margin:40px auto;
    height: 40vmin;
    /* padding: 0 20px; */
    background-color: #0f1b33;
    border-radius: 8px;
}
.product-ad-pic{
    width: 70%;
    margin-bottom: 50px;
}
.product-ad-pic img{
    width: 100%;
    height: 40vmin;
    object-fit: cover;
    border-radius: 8px 0px 0px 8px;
    vertical-align: middle;
    box-shadow: 1px 2px 5px rgba(1, 33, 59, 0.55);
}
.product-ad-text {
    width: 20vmax;
    height: fit-content;
    margin: auto;
    color:#e4f2f7;
    border-radius: 0px 8px 8px 0px;

    
}
.product-ad-text h2{
    font-size: 5.5vmin;
    font-weight: 600;
    color:#e4f2f7;
    text-align: center;
    margin: auto;
   
    

}
.product-ad-text p{
    font-size: 1.8vmin;
    font-weight: 300;
    color:#e4f2f7;
    text-align: center;
    line-height: 5vmin;

}
.text-box{
    width: fit-content;

    margin:auto;

    
}


.product-ad-pic-2{
  order: 1;
  border-radius: 0px 8px 8px 0px;
}
.product-ad-pic-2 img{
    box-shadow: 1px 2px 5px rgba(1, 33, 59, 0.55);
    border-radius: 0px 8px 8px 0px;
  }
.product-ad-text-2{

    border-radius: 8px 0px 0px 8px;
  }


/* .main-nav-btn:nth-child(1) >.sub-menu .sub-menu-btn:nth-child(1) a{
    color: #e4f2f7;
   }
.main-nav-btn:nth-child(1) >.sub-menu .sub-menu-btn:nth-child(1) a>i{
    color: #e4f2f7;
} */

ul>.main-nav-btn:nth-child(4)>a{
        color: #e4f2f7;
        font-weight: 400;
        font-size: 15px;
}


.sec-main-nav>ul>.main-nav-btn{
    display: none;
}
.sec-main-nav>ul>.main-nav-btn ul{
    display: flex;
}
.sec-main-nav>ul>li:nth-child(4){
    display: block;
}
.swiper-button-next,.swiper-button-prev{
    --swiper-navigation-size:3.5vmin;

    width: 7vmin;
    height: 7vmin;
    border-radius: 500px;
    background-color: #ffffff;
    box-shadow: 2px 2px 4px rgba(1, 33, 59, 0.55) ;
    margin-top: 3.8vmin;
    color: #0f1b33;
    font-weight: 900;
}



@media screen and (min-width:768px) {
   
    
    .sub-icon{
        color: #0f1b33;
        font-size: 30px;
        padding-bottom: 15px;
    }
    .main-nav-btn:hover>.sub-menu{
        display:none ;
    }
    .main-nav-btn:nth-child(4)>.sub-menu{
        display:flex ;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: rgba(97, 134, 164, 0.85);
        /* padding: 10px; */
        width: 100%;
        justify-content: center;
    }
    .sub-menu-btn a{
        display: flex;
        flex-direction: column;
        align-items:center;
        padding: 10px 35px;
        font-size: 14px;
        font-weight: 350;
    }
    .main-nav-btn>.sub-menu a{
        color: #0f1b33;
    }
    .main-nav-btn:hover >.sub-menu a:hover{
        color: #e4f2f7;
    }
    ul>.rent-btn >a{
        color:rgb(255, 255, 255);
        font-weight: 500;
        font-size: 15px;
    }
    .main-nav-btn:hover >.sub-menu a:hover {
        color: #e4f2f7;
    }
    .main-nav-btn:hover >.sub-menu a:hover>i{
        color: #e4f2f7;
    }
    .row>.cover-pic-2{
        width: 100%;
    }
    .cover-container>.cover-row>.col:first-child, .cover-container>.cover-row>.col:last-child{
        width:20%;
        margin: auto;
        /* height:50% ; */
    }
    
    .cover-container>.cover-row>.col:first-child a>img,.cover-container>.cover-row>.col:last-child a>img{
        object-position:center ;
     }
   
     .swiper-button-next,.swiper-button-prev{
   
        margin-top: 0vmin;
       
    }
    .product-head-title h2{
     
        font-size: 12vmin;
    
    }
    .product-main-head{
        padding-top: 50px;
    
    }
    .product-ad-group{
       
        max-width: 85vmax;
      
    }

    .product-group,.product-ad-group{
        width: 90%;
        max-width:1200px;
        margin: 80px auto;
    }
    .product-main-content+.product-ad-group{
        margin-top: 180px;
    }

    .product-main-content+.product-ad-group+.product-ad-group+.product-ad-group{
        margin-bottom: 150px;
    }


}


  .product-item-list{
    margin-bottom:3vmin;
  }
 
